<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="cjbar">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/mystyle.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/jquery-3.2.1.slim.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/feather.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/axios.js}"></script>
    <script>
        feather.replace()
    </script>
    <script type="text/javascript" th:src="@{/bootstrap/js/Chart.min.js}"></script>
</nav>
</html>
