<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cdu.jhb.account.database.AccountMapper">

    <select id="selectAccount" resultType="cdu.jhb.account.database.dataobject.AccountDO">
        SELECT * FROM account_table a
        WHERE a.account_tenant_id =
            (
                SELECT t.tenant_id FROM tenant_table t
                WHERE t.tenant_country_code = #{countryCode}
            )
        AND a.account_name = #{name}
    </select>

    <select id="getAccountList" resultType="cdu.jhb.account.dto.data.AccountDTO">
        SELECT * FROM account_table a
        WHERE a.account_tenant_id = #{tenant_id}
    </select>

</mapper>
