<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{common/common::cjbar}"/>
    <title>库存-入库</title>
</head>
<body style="background-color: rgb(225,228,232);" id="inventoryIn">
    <div th:replace="~{common/common::headbar}"/>
    <div class="inventory">
        <div class="left">
            <div th:replace="~{common/common::inventoryMeau}"/>
        </div>
        <div class="right">
            <div class="top">
                <form ref="form1" @submit.prevent="selectInventoryInSubmit">
                    <div class="form-group" style="float: left;width: 150px;margin-right: 15px;">
                        <select class="form-control" name="inventory_in_status">
                            <option value="">全部状态</option>
                            <option value="待入库">待入库</option>
                            <option value="已入库">已入库</option>
                        </select>
                    </div>
                    <div class="form-group" style="float: left;width: 120px;margin-right: 15px;">
                        <select class="form-control" name="inventory_in_date_category">
                            <option value="1" selected>创建日期</option>
                            <option value="2">入库日期</option>
                        </select>
                    </div>
                    <div style="float: left;margin-right: 15px;">
                        <div class="layui-inline">
                            <div class="layui-inline" id="test6">
                                <div class="layui-input-inline float-left" style="width: 100px;">
                                    <input type="text" autocomplete="off" id="test-startDate-1" class="layui-input" name="inventory_in_begin_time" style="border: 1px rgb(206,212,218) solid" readonly placeholder="开始日期">
                                </div>
                                <div class="layui-form-mid float-left" style="margin: 0 auto;">-</div>
                                <div class="layui-input-inline float-left" style="width: 100px;">
                                    <input type="text" autocomplete="off" id="test-endDate-1" class="layui-input" name="inventory_in_end_time" style="border: 1px rgb(206,212,218) solid" readonly placeholder="结束日期">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="float: left;width: 160px;margin-right: 15px;">
                        <select class="form-control" name="inventory_in_supplier_id">
                            <option value="">全部供应商</option>
                            <option v-for="supplier in supplierList" :value="supplier.supplier_id">{{ supplier.supplier_name }}</option>
                        </select>
                    </div>
                    <div class="form-group" style="float: left;width: 140px;margin-right: 15px;">
                        <select class="form-control" name="inventory_in_operator_id">
                            <option value="">全部入库人</option>
                            <option v-for="account in accountList" :value="account.account_id">{{ account.account_name }}</option>
                        </select>
                    </div>
                    <div style="float: left;">
                        <button type="submit" class="btn btn-outline-primary">查询</button>
                    </div>
                </form>
                <div style="float: right;margin-left: 15px;">
                    <button type="button" class="btn btn-outline-primary">导出</button>
                </div>
                <div style="float: right;">
                    <button type="button" class="btn btn-primary" v-on:click="openAddPage">新增入库</button>
                </div>
            </div>
            <div class="info">
                <table class="table table-striped" style="font-size: 15px;">
                    <thead>
                    <tr>
                        <td scope="col" width="15%">入库单号</td>
                        <td scope="col" width="5%">状态</td>
                        <td scope="col" width="15%">供应商</td>
                        <td scope="col" width="5%">品种</td>
                        <td scope="col" width="10%">金额(元)</td>
                        <td scope="col" width="10%">入库人</td>
                        <td scope="col" width="15%">创建日期</td>
                        <td scope="col" width="15%">入库日期</td>
                        <td scope="col" width="10%">操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="inventoryIn in inventoryInList">
                        <td>{{inventoryIn.inventory_in_id}}</td>
                        <td>{{inventoryIn.inventory_in_status}}</td>
                        <td>{{inventoryIn.inventory_in_supplier_name}}</td>
                        <td>{{inventoryIn.inventory_in_variety}}</td>
                        <td>{{inventoryIn.inventory_in_money}}</td>
                        <td>{{inventoryIn.inventory_in_operator}}</td>
                        <td>{{inventoryIn.inventory_in_create_time}}</td>
                        <td>{{inventoryIn.inventory_in_time}}</td>
                        <td>
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-xs" style="margin-right: 10px;" v-on:click="detailed(inventoryIn.inventory_in_id)">查看</button>
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-xs">撤回</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p v-if="inventoryInList.length === 0" class="no-data">暂无数据</p>
            </div>
            <div class="bottom">
                <div class="float-left">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">上一页</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">65</a></li>
                            <li class="page-item"><a class="page-link" href="#">66</a></li>
                            <li class="page-item"><a class="page-link" href="#">下一页</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="float-right">
                    <p>共4条入库单，金额100.00元</p>
                </div>
            </div>
        </div>
    </div>
    <div class="inventory-add" ref="add">
        <div class="inventory-pop">
            <div class="top">
                <p>新增入库单</p>
                <div v-on:click="closeAddPage">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg svg-text float-right" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                    </svg>
                </div>
            </div>
            <div class="info">
                <div class="info1">
                    <p><span style="color: red">*</span> 入库人</p>
                    <div class="form-group" style="float: left;width: 140px;margin-right: 30px;">
                        <select class="form-control" name="inventory_in_operator_id" v-model="inventoryAdd.inventory_in_operator_id">
                            <option value="">全部入库人</option>
                            <option v-for="account in accountList" :value="account.account_id">{{ account.account_name }}</option>
                        </select>
                    </div>
                    <p><span style="color: red">*</span> 供应商</p>
                    <div class="form-group" style="float: left;width: 200px;margin-right: 30px;">
                        <select class="form-control" name="inventory_in_supplier_id" v-model="inventoryAdd.inventory_in_supplier_id">
                            <option value="">全部供应商</option>
                            <option v-for="supplier in supplierList" :value="supplier.supplier_id">{{ supplier.supplier_name }}</option>
                        </select>
                    </div>
                    <p>备注</p>
                    <div class="form-group" style="float: left;width: 200px;margin-right: 30px;">
                        <input type="text" class="form-control" name="inventory_remarks" v-model="inventoryAdd.inventory_in_remarks">
                    </div>
                </div>
                <hr>
                <div class="info2">
                    <div class="head">
                        <div class="input-group mb-3 float-left" style="width: 500px;">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-info" disabled="disabled">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-capsule" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1.828 8.9 8.9 1.827a4 4 0 1 1 5.657 5.657l-7.07 7.071A4 4 0 1 1 1.827 8.9Zm9.128.771 2.893-2.893a3 3 0 1 0-4.243-4.242L6.713 5.429l4.243 4.242Z"/>
                                    </svg>
                                </button>
                            </div>
                            <input v-on:focus="onFocus" v-on:input="onInput" v-on:blur="onBlur" type="text" id="selectCommodity" class="form-control" placeholder="请输入 药品名/国家码 搜索药品" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        </div>
                        <div class="select-input" ref="selectInput">
                            <table id="select-input-table" class="select-input-table" style="width: 100%;"></table>
                        </div>
                        <div class="float-right">
                            <p>品种：{{variety}} 金额：{{inventoryAddMoney}}元</p>
                        </div>
                    </div>
                    <div class="table1">
                        <table class="table table-striped" style="font-size: 16px;">
                            <thead>
                            <tr>
                                <td scope="col" width="15%">药品ID</td>
                                <td scope="col" width="15%">商品名</td>
                                <td scope="col" width="10%">国家编码</td>
                                <td scope="col" width="10%">规格</td>
                                <td scope="col" width="10%">售价(元)</td>
                                <td scope="col" width="10%">进价(元)</td>
                                <td scope="col" width="15%"><span style="color: red">*</span> 入库数量</td>
                                <td scope="col" width="10%">入库金额(元)</td>
                                <td scope="col" width="5%"></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="inAdd in inventoryAdd.inventory_in_detail_list">
                                <td>{{inAdd.inventory_in_id}}</td>
                                <td>{{inAdd.inventory_in_commodity_id}}</td>
                                <td>{{inAdd.inventory_in_country_code}}</td>
                                <td>{{inAdd.inventory_in_commodity_specification}}</td>
                                <td>
                                    {{inAdd.inventory_in_commodity_large_sale_price + '元/' + inAdd.inventory_in_large_unit}}
                                    {{inAdd.inventory_in_split_sale_status === 1 ? ',' + inAdd.inventory_in_commodity_small_sale_price + '元/' + inAdd.inventory_in_small_unit : ''}}</td>
                                <td>
                                    {{inAdd.inventory_in_commodity_large_bid_price + '元/' + inAdd.inventory_in_large_unit}}
                                    {{inAdd.inventory_in_split_sale_status === 1 ? ',' + inAdd.inventory_in_commodity_small_bid_price + '元/' + inAdd.inventory_in_small_unit : ''}}</td>
                                <td><input type="text">{{inAdd.inventory_in_large_unit}}
                                    <input type="text" v-if="inAdd.inventory_in_split_sale_status === 1">{{inAdd.inventory_in_split_sale_status === 1 ? inAdd.inventory_in_small_unit : ''}}</td>
                                <td>{{inAdd.inventory_in_large_num * inAdd.inventory_in_commodity_large_bid_price + inAdd.inventory_in_small_num * inAdd.inventory_in_commodity_small_bid_price}}</td>
                                <td>
                                    <div class="td-hover" v-on:click="deleteAdd(inAdd)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg svg-text" viewBox="0 0 16 16">
                                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                        </svg>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="save">
                    <div style="float: right;">
                        <button type="button" class="btn btn-primary">保存入库</button>
                    </div>
                    <div style="float: right;margin-right: 15px;">
                        <button type="button" class="btn btn-primary">等待入库</button>
                    </div>
                    <div style="float: right;margin-right: 15px;">
                        <button type="button" class="btn btn-outline-primary" v-on:click="closeAddPage">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inventory-detailed" ref="detail">
        <div class="inventory-pop">
            <div class="top">
                <p>{{'入库单' + inventoryInDetail.inventory_in_id + '详情'}}</p>
                <div v-on:click="closeDetailPage">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg svg-text float-right" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                    </svg>
                </div>
            </div>
            <div class="info">
                <div class="info1">
                    <p>{{'入库人: '+inventoryInDetail.inventory_in_operator}}</p>
                    <p>{{'供应商: '+inventoryInDetail.inventory_in_supplier_name}}</p>
                    <p>{{'备注: '+inventoryInDetail.inventory_in_remarks}}</p>
                    <div class="float-right">
                        <p>{{'品种: '+inventoryInDetail.inventory_in_variety + ' 金额: ' + inventoryInDetail.inventory_in_money}}</p>
                    </div>
                </div>
                <div class="info2">
                    <div class="table2">
                        <table class="table table-striped" style="font-size: 16px;">
                            <thead>
                            <tr>
                                <td scope="col" width="10%">商品ID</td>
                                <td scope="col" width="12%">商品名</td>
                                <td scope="col" width="10%">国家编码</td>
                                <td scope="col" width="13%">规格</td>
                                <td scope="col" width="15%">售价</td>
                                <td scope="col" width="15%">进价</td>
                                <td scope="col" width="15%">入库数量</td>
                                <td scope="col" width="10%">入库金额(元)</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="inDetail in inventoryInDetail.inventory_in_detail_list">
                                <td>{{inDetail.inventory_in_commodity_id}}</td>
                                <td>{{inDetail.inventory_in_commodity_name}}</td>
                                <td>{{inDetail.inventory_in_country_code}}</td>
                                <td>{{inDetail.inventory_in_commodity_specification}}</td>
                                <td>
                                    {{inDetail.inventory_in_commodity_large_sale_price + '元/' + inDetail.inventory_in_large_unit}}
                                    {{inDetail.inventory_in_split_sale_status === 1 ? inDetail.inventory_in_commodity_small_sale_price + '元/' + inDetail.inventory_in_small_unit : ''}}
                                </td>
                                <td>
                                    {{inDetail.inventory_in_commodity_large_bid_price + '元/' + inDetail.inventory_in_large_unit}}
                                    {{inDetail.inventory_in_split_sale_status === 1 ? inDetail.inventory_in_commodity_small_bid_price + '元/' + inDetail.inventory_in_small_unit : ''}}
                                </td>
                                <td>
                                    {{inDetail.inventory_in_large_num}}{{inDetail.inventory_in_large_unit}}
                                    {{inDetail.inventory_in_split_sale_status === 1 ? inDetail.inventory_in_small_num + inDetail.inventory_in_small_unit : ''}}
                                </td>
                                <td>
                                    {{inDetail.inventory_in_large_num * inDetail.inventory_in_commodity_large_bid_price + inDetail.inventory_in_small_num * inDetail.inventory_in_commodity_small_bid_price}}
                                </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shadow" ref="shadow"></div>
    <script>
        let vm = new Vue({
            el: "#inventoryIn",
            data: {
                supplierList: [{
                    supplier_id: '',
                    supplier_name: '',
                }],
                accountList: [{
                    account_id: '',
                    account_name: '',
                }],
                // 入库单列表
                inventoryInList: [{
                    inventory_in_id:'',
                    inventory_in_status: '',
                    inventory_in_time: '',
                    inventory_in_create_time: '',
                    inventory_in_operator: '',
                    inventory_in_supplier_name: '',
                    inventory_in_remarks: '',
                    inventory_in_variety: '',
                    inventory_in_money: '',
                }],
                // 入库单明细
                inventoryInDetail:{
                    inventory_in_id:'',
                    inventory_in_operator: '',
                    inventory_in_supplier_name: '',
                    inventory_in_remarks: '',
                    inventory_in_variety: '',
                    inventory_in_money: '',
                    inventory_in_detail_list: [{
                        inventory_in_commodity_id: '',
                        inventory_in_commodity_name: '',
                        inventory_in_country_code: '',
                        inventory_in_commodity_specification: '',
                        inventory_in_split_sale_status: '',
                        inventory_in_commodity_large_bid_price:'',
                        inventory_in_commodity_small_bid_price: '',
                        inventory_in_commodity_large_sale_price: '',
                        inventory_in_commodity_small_sale_price: '',
                        inventory_in_large_unit: '',
                        inventory_in_small_unit: '',
                        inventory_in_large_num: '',
                        inventory_in_small_num: '',
                    }]
                },
                // 库存列表
                inventoryList:[{
                    commodity_id: '',
                    commodity_name: '',
                    commodity_manufacturer: '',
                    commodity_large_unit: '',
                    commodity_small_unit: '',
                    inventory_large_num: '',
                    inventory_small_num: '',
                    commodity_split_sale_status: '',
                }],
                // 入库单新增
                inventoryAdd:{
                    inventory_in_id:'',
                    inventory_in_status: '',
                    inventory_in_operator_id: '',
                    inventory_in_time: '',
                    inventory_in_create_time: '',
                    inventory_in_supplier_id: '',
                    inventory_in_remarks: '',
                    inventory_in_variety: '',
                    inventory_in_money: '',
                    inventory_in_detail_list: [{
                        inventory_in_detail_id: '',
                        inventory_in_id: '',
                        inventory_in_commodity_id: '',
                        inventory_in_commodity_name: '',
                        inventory_in_country_code: '',
                        inventory_in_commodity_specification: '',
                        inventory_in_split_sale_status: '',
                        inventory_in_commodity_large_bid_price:'',
                        inventory_in_commodity_small_bid_price: '',
                        inventory_in_commodity_large_sale_price: '',
                        inventory_in_commodity_small_sale_price: '',
                        inventory_in_before_large_num: '',
                        inventory_in_before_small_num: '',
                        inventory_in_after_large_num: '',
                        inventory_in_after_small_num: '',
                        inventory_in_large_unit: '',
                        inventory_in_small_unit: '',
                        inventory_in_large_num: '',
                        inventory_in_small_num: '',
                    }]
                }
            },
            methods: {
                // 入库单一览查询请求
                selectInventoryInSubmit(event){
                    // 阻止表单默认提交行为
                    event.preventDefault();
                    // 创建FormData对象
                    const formData1 = new FormData(this.$refs.form1);
                    $.ajax({
                        url: '/inventory/toInventoryInByQuery',
                        type: 'POST',
                        data: formData1,
                        contentType: false,
                        processData: false,
                        success: function (response) {
                            // 先清空上一次数据再push
                            this.inventoryInList.splice(0, this.inventoryInList.length);
                            response.forEach((item) => {
                                this.inventoryInList.push(item);
                            });
                        },
                        error:function () {
                            layer.msg('请求入库单一览查询失败，请刷新重试');
                        }
                    })
                },
                // 查看入库单详情
                detailed(id){
                    $.ajax({
                        url: '/inventory/selectInDetailById?id='+id,
                        type: 'GET',
                        contentType: false,
                        processData: false,
                        success: function (response) {
                            this.inventoryInDetail = response.data;
                            // 打开详情弹窗
                            this.openDetailPage();
                        },
                        error:function () {
                            layer.msg('请求查看入库单详情失败，请刷新重试');
                        }
                    })
                },
                // 搜索药品输入框焦点事件监听
                onFocus(){
                    this.showSelect();
                },
                // 搜索药品输入框变化事件监听
                onInput(){
                    let inputValue = $(this).val();
                    // 请求商品数据
                    $.ajax({
                        url: '/commodity/selectInventoryByName?name='+inputValue,
                        type: 'GET',
                        success: function(response) {
                            this.showSelect();
                            this.inventoryList.splice(0, this.inventoryList.length);
                            // 处理响应数据
                            response.forEach((item)=>{
                                this.inventoryList.push(item);
                            });
                        },
                        error: function() {
                            layer.msg("请求库存列表失败，请刷新重试");
                        }
                    });
                },
                // 搜索药品输入框失去焦点事件监听
                onBlur(){
                    this.hideSelect();
                },
                // 删除列表元素
                deleteAdd(add){
                    const index = this.inventoryAdd.inventory_in_detail_list.findIndex(item => item === add);
                    this.inventoryAdd.inventory_in_detail_list.splice(index,1);
                },
                // 打开详情弹窗
                openDetailPage(){
                    this.$refs.shadow.style.display = "block";
                    this.$refs.detail.style.display = "block";
                },
                // 关闭详情弹窗
                closeDetailPage(){
                    this.$refs.shadow.style.display = "close";
                    this.$refs.detail.style.display = "close";
                },
                // 打开新增弹窗
                openAddPage(){
                    this.$refs.shadow.style.display = "block";
                    this.$refs.add.style.display = "block";
                },
                // 关闭新增弹窗
                closeAddPage(){
                    this.$refs.shadow.style.display = "block";
                    this.$refs.add.style.display = "block";
                },
                // 显示搜索商品列表
                showSelect(){
                    this.$refs.selectInput.style.display = "block";
                },
                // 隐藏搜索商品列表
                hideSelect(){
                    this.$refs.selectInput.style.display = "none";
                }
            },
            computed: {
                inventoryAddMoney(){
                    let inventoryAddMoney = 0;
                    this.inventoryAdd.inventory_in_detail_list.forEach(inAdd => {
                        inventoryAddMoney += inAdd.inventory_in_large_num * inAdd.inventory_in_commodity_large_bid_price + inAdd.inventory_in_small_num * inAdd.inventory_in_commodity_small_bid_price
                    });
                    return inventoryAddMoney;
                },
                variety(){
                    return this.inventoryAdd.inventory_in_detail_list.length;
                }
            },
            mounted() {
                this.selectInventoryInSubmit();
                // 获取供应商列表
                $.ajax({
                    url: '/inventory/supplierList',
                    type: 'GET',
                    success: function (response) {
                        response.forEach((item) => {
                            this.supplierList.push(item);
                        });
                    },
                    error:function () {
                        layer.msg('请求供应商列表失败，请刷新重试');
                    }
                });
                //获取入库人列表
                $.ajax({
                    url: '/account/getAccountList',
                    type: 'GET',
                    success: function (response) {
                        response.forEach((item) => {
                            this.accountList.push(item);
                        });
                    },
                    error:function () {
                        layer.msg('请求入库人列表失败，请刷新重试');
                    }
                })
            }
        });

        layui.use('laydate', function(){
            var laydate = layui.laydate;

            //日期范围
            laydate.render({
                elem: '#test6'
                //设置开始日期、日期日期的 input 选择器
                //数组格式为 2.6.6 开始新增，之前版本直接配置 true 或任意分割字符即可
                ,range: ['#test-startDate-1', '#test-endDate-1']
            });
        });
        // const btn1 = document.getElementById("add");
        // const shadow = document.getElementById("shadow");
        // const add = document.getElementById("inventory-add");
        // const close1 = document.getElementById("addClose");
        // const close2 = document.getElementById("addClose2");
        // const detailed = document.getElementById("inventory-detailed");
        // const select = document.getElementById("select1");
        //
        // // 打开新增弹窗
        // btn1.onclick = function () {
        //     shadow.style.display = "block";
        //     add.style.display = "block";
        // };
        //
        // // 关闭新增弹窗
        // close1.onclick = function () {
        //     shadow.style.display = "none";
        //     add.style.display = "none";
        // };
        //
        // // 关闭新增弹窗
        // close2.onclick = function () {
        //     shadow.style.display = "none";
        //     add.style.display = "none";
        // };
        //
        // // 关闭详情弹窗
        // function close3() {
        //     shadow.style.display = "none";
        //     detailed.style.display = "none";
        // };
        //
        // /**
        //  * 刷新入库单一览页面信息
        //  */
        // const form1 = document.getElementById("form1");
        // form1.addEventListener('submit',function (event) {
        //     // 阻止表单默认提交行为
        //     event.preventDefault();
        //     // 创建FormData对象
        //     const formData1 = new FormData(form1);
        //     $.ajax({
        //         url: '/inventory/toInventoryInByQuery',
        //         type: 'POST',
        //         data: formData1,
        //         contentType: false,
        //         processData: false,
        //         success: function (data) {
        //             $("#inInfoList").html(data);
        //         },
        //         error:function () {
        //             layer.msg('请求失败，请刷新重试');
        //         }
        //     })
        // });
        //
        // /**
        //  * 页面初始加载
        //  * @type {HTMLElement}
        //  */
        // $(document).ready(function() {
        //     // 获取供应商列表
        //     $.ajax({
        //         url: '/inventory/supplierList',
        //         type: 'GET',
        //         success: function (response) {
        //             response.forEach((item)=>{
        //                 //先创建好select里面的option元素
        //                 const option = document.createElement("option");
        //                 //转换DOM对象为JQ对象,好用JQ里面提供的方法 给option的value赋值
        //                 $(option).val(item.supplier_id);
        //                 //给option的text赋值,这就是你点开下拉框能够看到的东西
        //                 $(option).text(item.supplier_name);
        //                 //获取select 下拉框对象,并将option添加进select
        //                 $('#supplier').append(option);
        //                 $('#supplier2').append(option);
        //             });
        //         },
        //         error:function (response) {
        //             layer.msg('请求失败，请刷新重试');
        //         }
        //     });
        //
        //     // 获取入库人列表
        //     $.ajax({
        //         url: '/account/getAccountList',
        //         type: 'GET',
        //         success: function (response) {
        //             response.forEach((item)=>{
        //                 //先创建好select里面的option元素
        //                 const option = document.createElement("option");
        //                 //转换DOM对象为JQ对象,好用JQ里面提供的方法 给option的value赋值
        //                 $(option).val(item.account_id);
        //                 //给option的text赋值,这就是你点开下拉框能够看到的东西
        //                 $(option).text(item.account_name);
        //                 //获取select 下拉框对象,并将option添加进select
        //                 $('#operator').append(option);
        //                 $('#operator2').append(option);
        //             });
        //         },
        //         error:function (response) {
        //             layer.msg('请求失败，请刷新重试');
        //         }
        //     })
        // });
        //
        // /**
        //  * 查看入库单
        //  * @param id
        //  */
        // function detail(id) {
        //     $.ajax({
        //         url: '/inventory/selectInDetailById?id='+id,
        //         type: 'GET',
        //         contentType: false,
        //         processData: false,
        //         success: function (response) {
        //             $("#inventoryInInfo").html(response);
        //             // 打开弹窗
        //             shadow.style.display = "block";
        //             detailed.style.display = "block";
        //         },
        //         error:function (response) {
        //             layer.msg('请求失败，请刷新重试');
        //         }
        //     })
        // }
        //
        // const selectCommodity = document.getElementById("selectCommodity");
        // const selectInput = document.getElementById("select-input");
        // let timer;
        //
        // selectCommodity.addEventListener('focus', function(){
        //     selectInput.style.display = "block";
        // });
        //
        // selectCommodity.addEventListener('blur', function () {
        //     selectInput.style.display = "none";
        // });
        //
        // selectCommodity.addEventListener('input', function () {
        //     let inputValue = $(this).val();
        //     $.ajax({
        //         url: '/commodity/selectCommodity?name='+inputValue,
        //         type: 'GET',
        //         success: function(response) {
        //             selectInput.style.display = "block";
        //             let htmlStr = "";
        //             // 处理响应数据
        //             response.forEach((item)=>{
        //                 htmlStr += "<tr th:onclik='addCommodity(" + item.commodity_id + ")'>" +
        //                     "<td class='select-input-td' style='width: 5%;'></td>" +
        //                     "<td class='select-input-td' style='width: 35%;text-align: left;'>" + item.commodity_name + "</td>" +
        //                     "<td class='select-input-td' style='width: 30%;text-align: center;'>" + item.commodity_specification + "</td>" +
        //                     "<td class='select-input-td' style='width: 25%;text-align: right;'>" + item.commodity_manufacturer + "</td>" +
        //                     "<td class='select-input-td' style='width: 5%;'></td>" +
        //                     "</tr>";
        //             });
        //             if(htmlStr === ""){
        //                 selectInput.style.display = "none";
        //             }
        //             $('#select-input-table').html(htmlStr);
        //         },
        //         error: function() {
        //             // 处理错误
        //             layer.msg("请求失败，请刷新重试");
        //         }
        //     });
        // });
        //
        // function addCommodity(id) {
        //     let htmlstr = "<tr>" +
        //         "<td>" + item.commodity_id + "</td>" +
        //         "<td>" + item.commodity_name + "</td>" +
        //         "<td>" + item.commodity_country_code + "</td>" +
        //         "<td>" + item.commodity_specification + "</td>" +
        //         "<td>" + item.commodity_large_price + "元/" + item.commodity_large_unit + "，" + item.commodity_small_price + "元/" + item.commodity_small_unit + "</td>" +
        //         "<td><input name='commodity_large_bid_price'>元/" + item.commodity_large_unit + "<input name='commodity_small_bid_price'>元/" + item.commodity_small_unit + "</td>" +
        //         "<td><input name='commodity_large_num'>" + item.commodity_large_unit + "<input name='commodity_small_num'>元/" + item.commodity_small_unit + "</td>" +
        //         "<td>" +  + "</td>" +
        //         "</tr>";
        //     $('#commodityList').append(htmlstr);
        // }
    </script>
</body>
</html>
