<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{common/common::cjbar}"/>
    <title>库存-出库</title>
</head>
<body style="background-color: rgb(225,228,232);">
<div id="inventoryOut">
    <div th:replace="~{common/common::headbar}"/>
    <div class="inventory">
        <div class="left">
            <div th:replace="~{common/common::inventoryMeau}"/>
        </div>
        <div class="right">
            <div class="top">
                <form ref="form1" @submit.prevent="selectInventoryOutSubmit">
                    <div class="form-group" style="float: left;width: 150px;margin-right: 15px;">
                        <select class="form-control" name="inventoryOutStatus" v-model="InventoryOutListQuery.inventoryOutStatus">
                            <option value="">全部状态</option>
                            <option value="待出库">待出库</option>
                            <option value="已出库">已出库</option>
                        </select>
                    </div>
                    <div class="form-group" style="float: left;width: 120px;margin-right: 15px;">
                        <select class="form-control" name="inventoryOutDateCategory" v-model="InventoryOutListQuery.inventoryOutDateCategory">
                            <option value="1" selected>创建日期</option>
                            <option value="2">出库日期</option>
                        </select>
                    </div>
                    <div class="form-group" style="float: left;width: 170px;margin-right: 15px;">
                        <select class="form-control" name="inventoryOutStatus" v-model="InventoryOutListQuery.inventoryOutCategory">
                            <option value="">全部出库类型</option>
                            <option value="领料出库">领料出库</option>
                            <option value="报损出库">报损出库</option>
                        </select>
                    </div>
                    <div style="float: left;margin-right: 15px;">
                        <div class="layui-inline">
                            <div class="layui-inline" id="test6">
                                <div class="layui-input-inline float-left" style="width: 100px;">
                                    <input type="text" autocomplete="off" id="test-startDate-1" v-model="InventoryOutListQuery.inventoryOutBeginTime" class="layui-input" name="inventoryOutBeginTime" style="border: 1px rgb(206,212,218) solid" readonly placeholder="开始日期">
                                </div>
                                <div class="layui-form-mid float-left" style="margin: 0 auto;">-</div>
                                <div class="layui-input-inline float-left" style="width: 100px;">
                                    <input type="text" autocomplete="off" id="test-endDate-1" v-model="InventoryOutListQuery.inventoryOutEndTime" class="layui-input" name="inventoryOutEndTime" style="border: 1px rgb(206,212,218) solid" readonly placeholder="结束日期">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="float: left;width: 140px;margin-right: 15px;">
                        <select class="form-control" v-model="InventoryOutListQuery.inventoryOutOperatorId" name="inventoryOutOperatorId">
                            <option value="">全部出库人</option>
                            <option v-for="account in accountList" :value="account.accountId">{{ account.accountName }}</option>
                        </select>
                    </div>
                    <div style="float: left;">
                        <button type="submit" class="btn btn-outline-primary">查询</button>
                    </div>
                </form>
                <div style="float: right;margin-left: 15px;">
                    <button type="button" class="btn btn-outline-primary">导出</button>
                </div>
                <div style="float: right;">
                    <button type="button" class="btn btn-primary" v-on:click="openAddPage">新增出库</button>
                </div>
            </div>
            <div class="info">
                <table class="table table-striped" style="font-size: 15px;text-align: center;">
                    <thead>
                    <tr>
                        <td scope="col" width="15%">出库单号</td>
                        <td scope="col" width="10%">出库状态</td>
                        <td scope="col" width="10%">出库类型</td>
                        <td scope="col" width="5%">品种</td>
                        <td scope="col" width="10%">金额(元)</td>
                        <td scope="col" width="10%">出库人</td>
                        <td scope="col" width="15%">创建日期</td>
                        <td scope="col" width="15%">出库日期</td>
                        <td scope="col" width="10%">操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="inventoryOut in inventoryOutList">
                        <td>{{inventoryOut.inventoryOutId}}</td>
                        <td>{{inventoryOut.inventoryOutStatus}}</td>
                        <td>{{inventoryOut.inventoryOutCategory}}</td>
                        <td>{{inventoryOut.inventoryOutVariety}}</td>
                        <td>{{parseFloat(inventoryOut.inventoryOutMoney).toFixed(2)}}</td>
                        <td>{{inventoryOut.inventoryOutOperator}}</td>
                        <td>{{inventoryOut.inventoryOutCreateTime}}</td>
                        <td>{{inventoryOut.inventoryOutTime === null ? '--' : inventoryOut.inventoryOutTime}}</td>
                        <td>
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-xs" style="margin-right: 10px;" v-on:click="detailed(inventoryOut.inventoryOutId)">查看</button>
                            <button type="button" v-if="inventoryOut.inventoryOutStatus === '待出库'" class="layui-btn layui-btn-primary layui-btn-xs" v-on:click="waitToSave(inventoryOut.inventoryOutId)">发起出库</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p v-if="inventoryOutList.length === 0" class="no-data">暂无数据</p>
            </div>
            <div class="bottom">
                <div class="float-left">
                    <nav aria-label="Page navigation example" class="float-left" style="margin-right: 30px">
                        <ul class="pagination">
                            <li :class="pageData.pageIndex > 1 ? 'page-item' : 'page-item disabled'"><a class="page-link" v-on:click="previousPage">上一页</a></li>
                            <li class="page-item">
                                <div class="form-group" style="float: left;width: 70px;">
                                    <input type="number" v-on:blur="pageBlur()" class="form-control" v-model="pageData.pageIndex" @input="pageData.pageIndex = Number($event.target.value.replace(/\D/g, ''))">
                                </div>
                            </li>
                            <li :class="pageData.pageIndex < pageData.maxPage ? 'page-item' : 'page-item disabled'"><a class="page-link" v-on:click="nextPage">下一页</a></li>
                        </ul>
                    </nav>
                    <span class="float-left" style="font-size: 16px;position: relative;top:7px;margin-right: 30px">共{{pageData.maxPage}}页</span>
                    <div class="btn-group float-left">
                        <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            {{pageData.pageSize}}条/页
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" v-on:click="setPageSize(15)">15条/页</a>
                            <a class="dropdown-item" v-on:click="setPageSize(30)">30条/页</a>
                            <a class="dropdown-item" v-on:click="setPageSize(50)">50条/页</a>
                        </div>
                    </div>
                </div>
                <div class="float-right">
                    <p>共 {{pageData.total}} 条出库单</p>
                </div>
            </div>
        </div>
    </div>
    <div class="inventory-add" ref="add">
        <div class="inventory-pop">
            <div class="top">
                <p>新增出库单</p>
                <div>
                    <svg v-on:click="closeAddPage" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg svg-text float-right" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                    </svg>
                </div>
            </div>
            <div class="info">
                <div class="info1">
                    <p><span style="color: red">*</span> 出库人</p>
                    <div class="form-group" style="float: left;width: 140px;margin-right: 30px;">
                        <select class="form-control" name="inventoryOutOperatorId" v-model="inventoryOutAdd.inventoryOutOperatorId">
                            <option value="" style="display: none">请选择出库人</option>
                            <option v-for="account in accountList" :value="account.accountId">{{ account.accountName }}</option>
                        </select>
                    </div>
                    <p><span style="color: red">*</span> 出库类型</p>
                    <div class="form-group" style="float: left;width: 170px;margin-right: 30px;">
                        <select class="form-control" name="inventoryOutSupplierId" v-model="inventoryOutAdd.inventoryOutCategory">
                            <option value="" style="display: none">请选择出库类型</option>
                            <option value="领料出库">领料出库</option>
                            <option value="报损出库">报损出库</option>
                        </select>
                    </div>
                    <p>备注</p>
                    <div class="form-group" style="float: left;width: 200px;margin-right: 30px;">
                        <input type="text" class="form-control" name="inventoryRemarks" v-model="inventoryOutAdd.inventoryOutRemarks">
                    </div>
                </div>
                <hr>
                <div class="info2">
                    <div class="head">
                        <div class="input-group mb-3 float-left" style="width: 500px;">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-info" disabled="disabled">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-capsule" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1.828 8.9 8.9 1.827a4 4 0 1 1 5.657 5.657l-7.07 7.071A4 4 0 1 1 1.827 8.9Zm9.128.771 2.893-2.893a3 3 0 1 0-4.243-4.242L6.713 5.429l4.243 4.242Z"/>
                                    </svg>
                                </button>
                            </div>
                            <input v-on:focus="onInput($event.target.value)" v-on:input="onInput($event.target.value)" v-on:blur="onBlur" type="text" id="selectCommodity" class="form-control" placeholder="请输入 药品名/国家码 搜索药品" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        </div>
                        <div class="select-input" ref="selectInput">
                            <table id="select-input-table" class="select-input-table" style="width: 100%;">
                                <tr v-for="inventory in inventoryList" v-on:mousedown="InsertAdd(inventory)">
                                    <td class="select-input-td" style="width: 5%"></td>
                                    <td class="select-input-td" style="width: 35%;text-align: left;">{{inventory.commodityName}}</td>
                                    <td class="select-input-td" style="width: 35%;text-align: center;">{{inventory.commodityManufacturer}}</td>
                                    <td class="select-input-td" style="width: 20%;text-align: right">{{inventory.inventoryLargeNum + inventory.commodityLargeUnit}}{{ inventory.commoditySplitSaleStatus === 1 ? inventory.inventorySmallNum + inventory.commoditySmallUnit : ''}}</td>
                                    <td class="select-input-td" style="width: 5%"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="float-right">
                            <p>品种：{{variety}}种 金额：{{inventoryOutAddMoney}}元</p>
                        </div>
                    </div>
                    <div class="table1">
                        <table class="table table-striped" style="font-size: 16px;text-align: center;">
                            <thead>
                            <tr>
                                <td scope="col" width="10%">药品ID</td>
                                <td scope="col" width="10%">商品名</td>
                                <td scope="col" width="10%">国家编码</td>
                                <td scope="col" width="10%">规格</td>
                                <td scope="col" width="15%">售价(元)</td>
                                <td scope="col" width="15%">当前库存</td>
                                <td scope="col" width="15%"><span style="color: red">*</span> 出库数量</td>
                                <td scope="col" width="8%">出库金额(元)</td>
                                <td scope="col" width="7%"></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="outAdd in inventoryOutAdd.inventoryOutDetailList">
                                <td>{{outAdd.inventoryOutCommodityId}}</td>
                                <td>{{outAdd.inventoryOutCommodityName}}</td>
                                <td>{{outAdd.inventoryOutCountryCode}}</td>
                                <td>{{outAdd.inventoryOutCommoditySpecification}}</td>
                                <td>
                                    {{outAdd.inventoryOutCommodityLargeSalePrice + '元/' + outAdd.inventoryOutLargeUnit}}
                                    {{outAdd.inventoryOutSplitSaleStatus === 1 ? '，' + outAdd.inventoryOutCommoditySmallSalePrice + '元/' + outAdd.inventoryOutSmallUnit : ''}}</td>
                                <td>
                                    {{outAdd.inventoryOutBeforeLargeNum + outAdd.inventoryOutLargeUnit}}
                                    {{outAdd.inventoryOutSplitSaleStatus === 1 ? outAdd.inventoryOutBeforeSmallNum + outAdd.inventoryOutSmallUnit : ''}}</td>
                                <td>
                                    <input type="number" style="width: 50px;" v-model="outAdd.inventoryOutLargeNum" @input="outAdd.inventoryOutLargeNum = Number($event.target.value.replace(/\D/g, ''))">{{outAdd.inventoryOutLargeUnit}}
                                    <input type="number" style="width: 50px;" v-model="outAdd.inventoryOutSmallNum" @input="outAdd.inventoryOutSmallNum = Number($event.target.value.replace(/\D/g, ''))" v-if="outAdd.inventoryOutSplitSaleStatus === 1">{{outAdd.inventoryOutSplitSaleStatus === 1 ? outAdd.inventoryOutSmallUnit : ''}}</td>
                                <td>{{(outAdd.inventoryOutLargeNum * outAdd.inventoryOutCommodityLargeSalePrice + outAdd.inventoryOutSmallNum * outAdd.inventoryOutCommoditySmallSalePrice).toFixed(2)}}</td>
                                <td>
                                    <div class="td-hover" v-on:click="deleteAdd(outAdd)" style="text-align: center;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-x-lg svg-text" viewBox="0 0 15 15">
                                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                        </svg>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p v-if="inventoryOutAdd.inventoryOutDetailList.length === 0" class="no-data">暂无数据</p>
                    </div>
                </div>
                <div class="save">
                    <div style="float: right;">
                        <button type="button" class="btn btn-primary" @click="save(1)">保存出库</button>
                    </div>
                    <div style="float: right;margin-right: 15px;">
                        <button type="button" class="btn btn-primary" @click="save(2)">等待出库</button>
                    </div>
                    <div style="float: right;margin-right: 15px;">
                        <button type="button" class="btn btn-outline-primary" v-on:click="closeAddPage">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inventory-detailed" ref="detail">
        <div class="inventory-pop">
            <div class="top">
                <p>{{'出库单' + inventoryOutDetail.inventoryOutId + '详情'}}</p>
                <div>
                    <svg v-on:click="closeDetailPage" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg svg-text float-right" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                    </svg>
                </div>
            </div>
            <div class="info">
                <div class="info1">
                    <p>{{'出库人: '+inventoryOutDetail.inventoryOutOperator}}</p>
                    <p>{{'供应商: '+inventoryOutDetail.inventoryOutSupplierName}}</p>
                    <p>{{'备注: '+inventoryOutDetail.inventoryOutRemarks}}</p>
                    <div class="float-right">
                        <p>{{'品种: '+inventoryOutDetail.inventoryOutVariety + ' 金额: ' + parseFloat(inventoryOutDetail.inventoryOutMoney).toFixed(2)}}</p>
                    </div>
                </div>
                <div class="info2">
                    <div class="table2">
                        <table class="table table-striped" style="font-size: 16px;text-align: center;">
                            <thead>
                            <tr>
                                <td scope="col" width="10%">商品ID</td>
                                <td scope="col" width="15%">商品名</td>
                                <td scope="col" width="10%">国家编码</td>
                                <td scope="col" width="15%">规格</td>
                                <td scope="col" width="20%">售价</td>
                                <td scope="col" width="20%">出库数量</td>
                                <td scope="col" width="10%">出库金额(元)</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="inDetail in inventoryOutDetail.inventoryOutDetailList">
                                <td>{{inDetail.inventoryOutCommodityId}}</td>
                                <td>{{inDetail.inventoryOutCommodityName}}</td>
                                <td>{{inDetail.inventoryOutCountryCode}}</td>
                                <td>{{inDetail.inventoryOutCommoditySpecification}}</td>
                                <td>
                                    {{parseFloat(inDetail.inventoryOutCommodityLargeSalePrice).toFixed(2) + '元/' + inDetail.inventoryOutLargeUnit}}
                                    {{inDetail.inventoryOutSplitSaleStatus === 1 ? ','+parseFloat(inDetail.inventoryOutCommoditySmallSalePrice).toFixed(2) + '元/' + inDetail.inventoryOutSmallUnit : ''}}
                                </td>
                                <td>
                                    {{inDetail.inventoryOutLargeNum}}{{inDetail.inventoryOutLargeUnit}}
                                    {{inDetail.inventoryOutSplitSaleStatus === 1 ? inDetail.inventoryOutSmallNum + inDetail.inventoryOutSmallUnit : ''}}
                                </td>
                                <td>
                                    {{(inDetail.inventoryOutLargeNum * inDetail.inventoryOutCommodityLargeSalePrice + inDetail.inventoryOutSmallNum * inDetail.inventoryOutCommoditySmallSalePrice).toFixed(2)}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shadow" ref="shadow"></div>
</div>
<script>
    let vm = new Vue({
        el: "#inventoryOut",
        data: {
            pageData:{
                pageSize: 15,
                pageIndex: 1,
                total: 0,
                maxPage: 1,
            },
            // 查询条件
            InventoryOutListQuery: {
                inventoryOutStatus: '',
                inventoryOutDateCategory: 1,
                inventoryOutCategory: '',
                inventoryOutBeginTime: '',
                inventoryOutEndTime: '',
                inventoryOutSupplierId: '',
                inventoryOutOperatorId: '',
                inventoryOutTenantId: '',
                pageSize: 15,
                pageIndex: 1,
            },
            // 出库人列表
            accountList: [{
                accountId: '',
                accountName: '',
            }],
            // 出库单列表
            inventoryOutList: [{
                inventoryOutId:'',
                inventoryOutStatus: '',
                inventoryOutCategory: '',
                inventoryOutTime: '',
                inventoryOutCreateTime: '',
                inventoryOutOperator: '',
                inventoryOutSupplierName: '',
                inventoryOutRemarks: '',
                inventoryOutVariety: '',
                inventoryOutMoney: '',
            }],
            // 出库单明细
            inventoryOutDetail:{
                inventoryOutId:'',
                inventoryOutCategory: '',
                inventoryOutOperator: '',
                inventoryOutSupplierName: '',
                inventoryOutRemarks: '',
                inventoryOutVariety: '',
                inventoryOutMoney: '',
                inventoryOutDetailList: [{
                    inventoryOutCommodityId: '',
                    inventoryOutCommodityName: '',
                    inventoryOutCountryCode: '',
                    inventoryOutCommoditySpecification: '',
                    inventoryOutSplitSaleStatus: '',
                    inventoryOutCommodityLargeSalePrice: '',
                    inventoryOutCommoditySmallSalePrice: '',
                    inventoryOutLargeUnit: '',
                    inventoryOutSmallUnit: '',
                    inventoryOutDosageForm: '',
                    inventoryOutLargeNum: '',
                    inventoryOutSmallNum: '',
                }]
            },
            // 库存列表
            inventoryList:[{
                commodityId: '',
                commodityName: '',
                commodityCountryCode: '',
                commodityCategory: '',
                commodityBarCode: '',
                commodityManufacturer: '',
                commodityApprovalNo: '',
                commoditySpecification: '',
                commodityLargeUnit: '',
                commoditySmallUnit: '',
                inventoryLargeNum: '',
                inventorySmallNum: '',
                commoditySplitSaleStatus: '',
                commodityLargePrice: '',
                commoditySmallPrice: '',
                commodityDosageForm: '',
                commodityEnableStatus: '',
            }],
            // 出库单新增
            inventoryOutAdd:{
                inventoryOutId:'',
                inventoryOutStatus: '',
                inventoryOutCategory: '',
                inventoryOutOperatorId: '',
                inventoryOutTime: '',
                inventoryOutCreateTime: '',
                inventoryOutRemarks: '',
                inventoryOutVariety: '',
                inventoryOutMoney: '',
                inventoryOutDetailList: [{
                    inventoryOutDetailId: '',
                    inventoryOutId: '',
                    inventoryOutCommodityId: '',
                    inventoryOutCommodityName: '',
                    inventoryOutCountryCode: '',
                    inventoryOutCommoditySpecification: '',
                    inventoryOutSplitSaleStatus: '',
                    inventoryOutCommodityLargeBidPrice:'',
                    inventoryOutCommoditySmallBidPrice: '',
                    inventoryOutCommodityLargeSalePrice: '',
                    inventoryOutCommoditySmallSalePrice: '',
                    inventoryOutDosageForm:'',
                    inventoryOutBeforeLargeNum: '',
                    inventoryOutBeforeSmallNum: '',
                    inventoryOutAfterLargeNum: '',
                    inventoryOutAfterSmallNum: '',
                    inventoryOutLargeUnit: '',
                    inventoryOutSmallUnit: '',
                    inventoryOutLargeNum: '',
                    inventoryOutSmallNum: '',
                }]
            }
        },
        methods: {
            // 出库单一览查询请求
            selectInventoryOutSubmit(event){
                // 防止回调中this指向ajax回调函数本身导致失效
                let that = this;
                // 阻止表单默认提交行为
                event.preventDefault();
                // 创建FormData对象
                $.ajax({
                    url: '/inventory/toInventoryOutByQuery',
                    type: 'POST',
                    data: JSON.stringify(this.InventoryOutListQuery),
                    contentType: 'application/json',
                    success: function (response) {
                        // 先清空上一次数据再push
                        that.inventoryOutList.splice(0, that.inventoryOutList.length);
                        response.outDTOList.forEach((item) => {
                            that.inventoryOutList.push(item);
                        });
                        that.pageData.pageIndex = that.InventoryOutListQuery.pageIndex;
                        that.pageData.pageSize = that.InventoryOutListQuery.pageSize;
                        that.pageData.total = response.total;
                        that.pageData.maxPage = response.maxPage;
                    },
                    error:function () {
                        layer.msg('请求出库单一览查询失败，请刷新重试');
                    }
                })
            },
            // 查看出库单详情
            detailed(id){
                // 防止回调中this指向ajax回调函数本身导致失效
                let that = this;
                $.ajax({
                    url: '/inventory/selectOutDetailById?id='+id,
                    type: 'GET',
                    contentType:false,
                    success: function (response) {
                        that.inventoryOutDetail = response;
                        // 打开详情弹窗
                        that.openDetailPage();
                    },
                    error:function () {
                        layer.msg('请求查看出库单详情失败，请刷新重试');
                    }
                })
            },
            // 点击添加药品到出库单新增列表
            InsertAdd(inventory){
                // 不存在才加入
                const exist = this.inventoryOutAdd.inventoryOutDetailList.find(obj => obj.inventoryOutCommodityId === inventory.commodityId);
                if(exist === undefined){
                    this.inventoryOutAdd.inventoryOutDetailList.push({
                        inventoryOutId: '',
                        inventoryOutCommodityId: inventory.commodityId,
                        inventoryOutCommodityName: inventory.commodityName,
                        inventoryOutCountryCode: inventory.commodityCountryCode,
                        inventoryOutCommoditySpecification: inventory.commoditySpecification,
                        inventoryOutSplitSaleStatus: inventory.commoditySplitSaleStatus,
                        inventoryOutCommodityLargeSalePrice: inventory.commodityLargePrice,
                        inventoryOutCommoditySmallSalePrice: inventory.commoditySmallPrice,
                        inventoryOutBeforeLargeNum: inventory.inventoryLargeNum,
                        inventoryOutBeforeSmallNum: inventory.inventorySmallNum,
                        inventoryOutLargeUnit: inventory.commodityLargeUnit,
                        inventoryOutSmallUnit: inventory.commoditySmallUnit,
                        inventoryOutDosageForm: inventory.commodityDosageForm,
                        inventoryOutLargeNum: 0,
                        inventoryOutSmallNum: 0,
                    });
                }
            },
            // 搜索药品输入框焦点事件监听
            onFocus(){
                this.showSelect();
            },
            // 搜索药品输入框变化事件监听
            onInput(inputValue){
                // 防止回调中this指向ajax回调函数本身导致失效
                let that = this;
                // 请求商品数据
                $.ajax({
                    url: '/inventory/selectInventoryByName?status=2&name='+inputValue,
                    type: 'GET',
                    success: function(response) {
                        that.showSelect();
                        that.inventoryList.splice(0, that.inventoryList.length);
                        // 处理响应数据
                        response.forEach((item)=>{
                            that.inventoryList.push(item);
                        });
                    },
                    error: function() {
                        layer.msg("请求库存列表失败，请刷新重试");
                    }
                });
            },
            // 搜索药品输入框失去焦点事件监听
            onBlur(){
                this.hideSelect();
            },
            // 删除列表元素
            deleteAdd(add){
                const index = this.inventoryOutAdd.inventoryOutDetailList.findIndex(item => item === add);
                this.inventoryOutAdd.inventoryOutDetailList.splice(index,1);
            },
            // 打开详情弹窗
            openDetailPage(){
                this.$refs.shadow.style.display = "block";
                this.$refs.detail.style.display = "block";
            },
            // 关闭详情弹窗
            closeDetailPage(){
                this.$refs.shadow.style.display = "none";
                this.$refs.detail.style.display = "none";
            },
            // 打开新增弹窗
            openAddPage(){
                this.$refs.shadow.style.display = "block";
                this.$refs.add.style.display = "block";
            },
            // 关闭新增弹窗
            closeAddPage(){
                this.$refs.shadow.style.display = "none";
                this.$refs.add.style.display = "none";
            },
            // 显示搜索商品列表
            showSelect(){
                this.$refs.selectInput.style.display = "block";
            },
            // 隐藏搜索商品列表
            hideSelect(){
                this.$refs.selectInput.style.display = "none";
            },
            // 出库一览列表刷新
            refresh(){
                let that = this;
                // 重新发起请求
                $.ajax({
                    url: '/inventory/toInventoryOutByQuery',
                    type: 'POST',
                    data: JSON.stringify(this.InventoryOutListQuery),
                    contentType: 'application/json',
                    success: function (response) {
                        // 清空出库列表
                        that.inventoryOutList.splice(0, that.inventoryOutList.length);
                        // 先清空再PUSH
                        response.outDTOList.forEach((item) => {
                            that.inventoryOutList.push(item);
                        });
                        that.pageData.pageIndex = that.InventoryOutListQuery.pageIndex;
                        that.pageData.pageSize = that.InventoryOutListQuery.pageSize;
                        that.pageData.total = response.total;
                        that.pageData.maxPage = response.maxPage;
                    },
                    error:function () {
                        layer.msg('请求出库单一览查询失败，请刷新重试');
                    }
                });
            },
            // 点击进行保存出库或者等待出库
            save(status){
                if(this.inventoryOutAdd.inventoryOutOperatorId === ''){
                    layer.msg("请选择出库人");
                    return;
                }
                if(this.inventoryOutAdd.inventoryOutCategory === ''){
                    layer.msg("请选择出库类型");
                    return;
                }
                let length = this.inventoryOutAdd.inventoryOutDetailList.length;
                if(length === 0) {
                    layer.msg("请至少选择一个商品!");
                    return;
                }else{
                    // 筛去为0的数据
                    this.inventoryOutAdd.inventoryOutDetailList.forEach((item) =>{
                        if(item.inventoryOutLargeNum === 0 && item.inventoryOutSmallNum === 0){
                            length--;
                        }
                    });
                    if(length === 0) {
                        layer.msg("请至少填写一个有效出库商品数据!");
                        return;
                    }
                }
                // 除去为0的数据
                this.inventoryOutAdd.inventoryOutDetailList.forEach((item,index) =>{
                    if(item.inventoryOutLargeNum === 0 && item.inventoryOutSmallNum === 0){
                        this.inventoryOutAdd.inventoryOutDetailList.splice(index,1);
                    }
                });
                // 保存出库
                if(status === 1){
                    this.inventoryOutAdd.inventoryOutStatus = '已出库';
                }else{
                    this.inventoryOutAdd.inventoryOutStatus = '待出库';
                }
                let that = this;
                $.ajax({
                    url: '/inventory/saveInventoryOut',
                    type: 'POST',
                    data: JSON.stringify(this.inventoryOutAdd),
                    contentType: 'application/json',
                    success: function() {
                        layer.msg("新增出库单成功");
                        that.closeAddPage();
                        // 清空新增列表
                        that.inventoryOutAdd.inventoryOutDetailList.splice(0, that.inventoryOutAdd.inventoryOutDetailList.length);
                        // 刷新出库单一览界面
                        that.refresh();
                    },
                    error: function(error) {
                        layer.msg(error.responseJSON.message);
                    }
                });
            },
            // 待出库发起出库
            waitToSave(id){
                let that = this;
                $.ajax({
                    url: '/inventory/waitToSaveOut?id='+id,
                    type: 'GET',
                    success: function () {
                        layer.msg("发起出库成功");
                        // 刷新出库单一览界面
                        that.refresh();
                    },
                    error: function () {
                        layer.msg("发起出库失败，请检查是否还有库存");
                    }
                })
            },
            // 上一页
            previousPage(){
                this.pageData.pageIndex--;
                this.InventoryOutListQuery.pageIndex = this.pageData.pageIndex;
                this.refresh();
            },
            // 下一页
            nextPage(){
                this.pageData.pageIndex++;
                this.InventoryOutListQuery.pageIndex = this.pageData.pageIndex;
                this.refresh();
            },
            // 设置页面大小
            setPageSize(size){
                this.pageData.pageSize = size;
                this.InventoryOutListQuery.pageSize = this.pageData.pageSize;
                this.refresh();
            },
            // 输入页数发起请求
            pageBlur(){
                if(this.pageData.pageIndex > this.pageData.maxPage){
                    this.pageData.pageIndex = this.pageData.maxPage;
                }
                if(this.pageData.pageIndex < 1){
                    this.pageData.pageIndex = 1;
                }
                this.InventoryOutListQuery.pageIndex = this.pageData.pageIndex;
                this.refresh();
            }
        },
        computed: {
            // 计算新增出库单总金额
            inventoryOutAddMoney(){
                let inventoryOutAddMoney = 0;
                this.inventoryOutAdd.inventoryOutDetailList.forEach(outAdd => {
                    inventoryOutAddMoney += outAdd.inventoryOutLargeNum * outAdd.inventoryOutCommodityLargeSalePrice + outAdd.inventoryOutSmallNum * outAdd.inventoryOutCommoditySmallSalePrice
                });
                this.inventoryOutAdd.inventoryOutMoney = inventoryOutAddMoney;
                return inventoryOutAddMoney.toFixed(2);
            },
            // 计算品种数
            variety(){
                let varietyNum;
                varietyNum = this.inventoryOutAdd.inventoryOutDetailList.length;
                this.inventoryOutAdd.inventoryOutVariety = varietyNum;
                // 返回品种数
                return varietyNum;
            },
        },
        mounted() {
            // 先清空所有data的list，因为初始定义格式为一个全是空值的list
            this.inventoryOutList.splice(0, this.inventoryOutList.length);
            this.accountList.splice(0, this.accountList.length);
            this.inventoryList.splice(0, this.inventoryList.length);
            this.inventoryOutAdd.inventoryOutDetailList.splice(0, this.inventoryOutAdd.inventoryOutDetailList.length);
            this.inventoryOutDetail.inventoryOutDetailList.splice(0,this.inventoryOutDetail.inventoryOutDetailList.length);
            // 防止回调中this指向ajax回调函数本身导致失效
            let that = this;
            // 初始化加载数据
            that.refresh();
            //获取出库人列表
            $.ajax({
                url: '/account/getAccountList',
                type: 'GET',
                success: function (response) {
                    response.forEach((item) => {
                        that.accountList.push(item);
                    });
                },
                error:function () {
                    layer.msg('请求出库人列表失败，请刷新重试');
                }
            })
        }
    });

    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //日期范围
        laydate.render({
            elem: '#test6'
            //设置开始日期、日期日期的 input 选择器
            //数组格式为 2.6.6 开始新增，之前版本直接配置 true 或任意分割字符即可
            ,range: ['#test-startDate-1', '#test-endDate-1']
        });
    });
</script>
</body>
</html>
