<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{common/common::cjbar}"/>
    <title>库存</title>
</head>
<body style="background-color: rgb(225,228,232);">
<div th:replace="~{common/common::headbar}"/>
<div class="inventory">
    <div class="left">
        <div th:replace="~{common/common::inventoryMeau}"/>
    </div>
    <div class="right">
        <div class="top">
            <form id="form1">
                <div class="form-group" style="float: left;width: 300px;margin-right: 15px;">
                    <input type="text" class="form-control" name="inventory_commodity_name" placeholder="品项名">
                </div>
                <div class="form-group" style="float: left;width: 300px;margin-right: 15px;">
                    <input type="text" class="form-control" name="inventory_manufacturer" placeholder="生产厂家">
                </div>
                <div class="form-group" style="float: left;width: 150px;margin-right: 15px;">
                    <select class="form-control" name="inventory_category">
                        <option value="0">全部类型</option>
                        <option value="1">中西成药</option>
                        <option value="2">中药</option>
                        <option value="3">保健药品</option>
                        <option value="4">消耗品</option>
                    </select>
                </div>
                <div style="float: left;">
                    <button type="submit" class="btn btn-outline-primary">查询</button>
                </div>
            </form>
            <div style="float: right;margin-left: 15px;">
                <button type="button" class="btn btn-outline-primary">导出</button>
            </div>
            <div style="float: right;">
                <button type="button" class="btn btn-primary" id="add">新增品项</button>
            </div>
        </div>
        <div class="info">
            <table class="table table-striped" style="font-size: 15px;">
                <thead>
                <tr>
                    <td scope="col" width="10%">品项名称</td>
                    <td scope="col" width="8%">类型</td>
                    <td scope="col" width="14%">生产厂家</td>
                    <td scope="col" width="8%">国家编码</td>
                    <td scope="col" width="8%">批准文号</td>
                    <td scope="col" width="8%">条码</td>
                    <td scope="col" width="5%">批次数</td>
                    <td scope="col" width="15%">最新定价</td>
                    <td scope="col" width="7%">最远效期</td>
                    <td scope="col" width="7%">库存数量</td>
                    <td scope="col" width="10%">操作</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>感冒灵颗粒</td>
                    <td>中西成药</td>
                    <td>四川华东医药有限公司</td>
                    <td>H42345234</td>
                    <td>783829472232</td>
                    <td>31267371236</td>
                    <td>5</td>
                    <td>30.00元/盒</td>
                    <td>2023-05-05</td>
                    <td>102盒</td>
                    <td>
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-xs float-left" style="margin-right: 10px;">编辑</button>
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-xs float-left" id="yes1" style="display: block;">启用</button>
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-xs float-left" id="no1" style="display: none;">停用</button>
                    </td>
                </tr>
                <tr>
                    <td>感冒灵颗粒</td>
                    <td>中西成药</td>
                    <td>四川华东医药有限公司</td>
                    <td>H42345234</td>
                    <td>783829472232</td>
                    <td>31267371236</td>
                    <td>5</td>
                    <td>30.00元/盒</td>
                    <td>2023-05-05</td>
                    <td>102盒</td>
                    <td>
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-xs float-left" style="margin-right: 10px;">编辑</button>
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-xs float-left" id="yes2" style="display: block;">启用</button>
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-xs float-left" id="no2" style="display: none;">停用</button>
                    </td>
                </tr>
                <tr>
                    <td>感冒灵颗粒</td>
                    <td>中西成药</td>
                    <td>四川华东医药有限公司</td>
                    <td>H42345234</td>
                    <td>783829472232</td>
                    <td>31267371236</td>
                    <td>5</td>
                    <td>30.00元/盒</td>
                    <td>2023-05-05</td>
                    <td>102盒</td>
                    <td>
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-xs float-left" style="margin-right: 10px;">编辑</button>
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-xs float-left" id="yes3" style="display: block;">启用</button>
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-xs float-left" id="no3" style="display: none;">停用</button>
                    </td>
                </tr>
                <tr>
                    <td>感冒灵颗粒</td>
                    <td>中西成药</td>
                    <td>四川华东医药有限公司</td>
                    <td>H42345234</td>
                    <td>783829472232</td>
                    <td>31267371236</td>
                    <td>5</td>
                    <td>30.00元/盒</td>
                    <td>2023-05-05</td>
                    <td>102盒</td>
                    <td>
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-xs float-left" style="margin-right: 10px;">编辑</button>
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-xs float-left" id="yes4" style="display: block;">启用</button>
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-xs float-left" id="no4" style="display: none;">停用</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="bottom">
            <div class="float-left">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">上一页</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">65</a></li>
                        <li class="page-item"><a class="page-link" href="#">66</a></li>
                        <li class="page-item"><a class="page-link" href="#">下一页</a></li>
                    </ul>
                </nav>
            </div>
            <div class="float-right">
                <p>共4种药品可售，医保数(国)4个</p>
            </div>
        </div>
    </div>
</div>
<div class="inventory-add" id="inventory-add">
    <div class="inventory-pop2">
        <div class="top">
            <p>新增商品</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg svg-text float-right" id="addClose" viewBox="0 0 16 16">
                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
            </svg>
        </div>
        <form id="form2" method="post">
            <div class="info">
                <div class="form-group float-left" style="width: 31%;margin-right: 2%;">
                    <label><span style="color:red;">*</span> 品项名</label>
                    <input type="text" class="form-control" name="commodity_name" placeholder="请输入品项名">
                </div>
                <div class="form-group float-left" style="width: 31%;margin-right: 2%;">
                    <label>国家编码</label>
                    <input type="text" class="form-control" name="commodity_country_code" placeholder="请输入国家编码">
                </div>
                <div class="form-group float-left" style="width: 31%;">
                    <label>准批文号</label>
                    <input type="text" class="form-control" name="commodity_approval_no" placeholder="请输入准批文号">
                </div>
                <div class="form-group float-left" style="width: 31%;margin-right: 2%;">
                    <label><span style="color:red;">*</span> 商品类型</label>
                    <select class="form-control" name="commodity_category">
                        <option value="0">全部类型</option>
                        <option value="1">中西成药</option>
                        <option value="2">中药</option>
                        <option value="3">保健药品</option>
                        <option value="4">消耗品</option>
                    </select>
                </div>
                <div class="form-group float-left" style="width: 31%;margin-right: 2%;">
                    <label>生产厂家</label>
                    <input type="text" class="form-control" name="commodity_manufacturer" placeholder="请输入生产厂家">
                </div>
                <div class="form-group float-left" style="width: 31%;">
                    <label>规格</label>
                    <input type="text" class="form-control" name="commodity_specification" placeholder="请输入规格">
                </div>
                <div class="form-group float-left" style="width: 31%;margin-right: 2%;">
                    <label>商品条码</label>
                    <input type="text" class="form-control" name="commodity_bar_code" placeholder="请输入商品条码">
                </div>
                <hr>
                <div class="form-group float-left" style="width: 31%;margin-right: 2%;">
                    <label><span style="color:red;">*</span> 包装单位(大)</label>
                    <select class="form-control" name="commodity_large_unit">
                        <option value="盒">盒</option>
                        <option value="瓶">瓶</option>
                        <option value="袋">袋</option>
                        <option value="包">包</option>
                        <option value="支">支</option>
                        <option value="mg">mg</option>
                        <option value="g">g</option>
                        <option value="kg">kg</option>
                    </select>
                </div>
                <div class="form-group float-left" style="width: 31%;margin-right: 2%;">
                    <label><span style="color:red;">*</span> 拆零单位(小)</label>
                    <select class="form-control" name="commodity_small_unit">
                        <option value="颗">颗</option>
                        <option value="瓶">瓶</option>
                        <option value="袋">袋</option>
                        <option value="包">包</option>
                        <option value="支">支</option>
                        <option value="粒">粒</option>
                    </select>
                </div>
                <div class="form-group float-left" style="width: 31%;">
                    <label>大小转换比</label>
                    <input type="text" class="form-control" name="commodity_dosage_form" placeholder="请输入商品大小转换比">
                </div>
                <div class="form-group float-left" style="width: 31%;margin-right: 2%;">
                    <label>剂型</label>
                    <select class="form-control" name="commodity_form_drug">
                        <option value="液体剂型">液体剂型</option>
                        <option value="气体剂型">气体剂型</option>
                        <option value="固体剂型">固体剂型</option>
                        <option value="半固体剂型">半固体剂型</option>
                    </select>
                </div>
                <div class="form-group float-left" style="width: 15%;margin-right: 1%;">
                    <label>剂量</label>
                    <input type="text" class="form-control" name="commodity_dosage" placeholder="请输入剂量">
                </div>
                <div class="form-group float-left" style="width: 15%;margin-right: 2%;">
                    <label>剂量单位</label>
                    <select class="form-control" name="commodity_dosage_unit">
                        <option value="mg">mg</option>
                        <option value="g">g</option>
                        <option value="kg">kg</option>
                        <option value="ml">ml</option>
                        <option value="l">l</option>
                    </select>
                </div>
                <div class="form-group float-left" style="width: 31%;">
                    <label>服用方式</label>
                    <select class="form-control" name="commodity_take">
                        <option value="空腹服">空腹服</option>
                        <option value="饭前服">饭前服</option>
                        <option value="饭后服">饭后服</option>
                        <option value="睡前服">睡前服</option>
                        <option value="顿服">顿服</option>
                    </select>
                </div>
                <div class="form-group float-left" style="width: 31%;margin-right: 2%;">
                    <label>服用频次</label>
                    <select class="form-control" name="commodity_usage_frequency">
                        <option value="一天一次">一天一次</option>
                        <option value="一天两次">一天两次</option>
                        <option value="一天三次">一天三次</option>
                        <option value="两天一次">两天一次</option>
                        <option value="一周两次">一周两次</option>
                        <option value="两周一次">两周一次</option>
                    </select>
                </div>
                <div class="form-group float-left" style="width: 31%;margin-right: 2%;">
                    <label>单次服用剂量</label>
                    <input type="text" class="form-control" name="commodity_single_dose" placeholder="请输入单次服用剂量">
                </div>
                <hr>
                <div class="form-group float-left" style="width: 31%;margin-right: 2%;">
                    <label><span style="color:red;">*</span> 定价(元)</label>
                    <input type="text" class="form-control" name="commodity_large_price" placeholder="请输入定价">
                </div>
                <div class="form-group float-left" style="width: 31%;margin-right: 2%;">
                    <label>拆零单价(元)(可不填，填则可拆零销售)</label>
                    <input type="text" class="form-control" name="commodity_small_price" placeholder="请输入拆零单价">
                </div>
            </div>
            <hr>
            <div class="bottom">
                <div style="float: right;">
                    <button type="submit" class="btn btn-primary">保存</button>
                </div>
                <div style="float: right;margin-right: 15px;">
                    <button type="button" class="btn btn-outline-primary" id="addClose2">取消</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="shadow" id="shadow"/>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //日期范围
        laydate.render({
            elem: '#test6'
            //设置开始日期、日期日期的 input 选择器
            //数组格式为 2.6.6 开始新增，之前版本直接配置 true 或任意分割字符即可
            ,range: ['#test-startDate-1', '#test-endDate-1']
        });
    });
    const btn1 = document.getElementById("add");
    const add = document.getElementById("inventory-add");
    const close = document.getElementById("addClose");
    const close2 = document.getElementById("addClose2");
    const shadow = document.getElementById("shadow");
    const yes = document.getElementById("yes1");
    const no = document.getElementById("no1");

    btn1.onclick = function () {
        shadow.style.display = "block";
        add.style.display = "block";
    };

    close.onclick = function () {
        shadow.style.display = "none";
        add.style.display = "none";
    };

    close2.onclick = function () {
        shadow.style.display = "none";
        add.style.display = "none";
    };

    yes.onclick = function () {
        yes.style.display = "none";
        no.style.display = "block";
    };

    no.onclick = function () {
        no.style.display = "none";
        yes.style.display = "block";
    }

    /**
     * 提交新增品相请求
     * @type {HTMLElement}
     */
    const form = document.getElementById("form2");
    form.addEventListener('submit', function(event) {
        // 阻止表单默认提交行为
        event.preventDefault();

        // 创建FormData对象
        const formData = new FormData(form);

        // 发送POST请求
        axios.post('/commodity/add', formData)
            .then(function(response) {
                // 更新新增品项页面
            })
            .catch(function(error) {
                console.error(error);
            });
    });



</script>
</body>
</html>
