<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{common/common::cjbar}"/>
    <title>库存-入库</title>
</head>
<body style="background-color: rgb(225,228,232);">
<div id="inventoryIn">
    <div th:replace="~{common/common::headbar}"/>
    <div class="inventory">
        <div class="left">
            <div th:replace="~{common/common::inventoryMeau}"/>
        </div>
        <div class="right">
            <div class="top">
                <form ref="form1" @submit.prevent="selectInventoryInSubmit">
                    <div class="form-group" style="float: left;width: 150px;margin-right: 15px;">
                        <select class="form-control" name="inventoryInStatus" v-model="InventoryInListQuery.inventoryInStatus">
                            <option value="">全部状态</option>
                            <option value="待入库">待入库</option>
                            <option value="已入库">已入库</option>
                        </select>
                    </div>
                    <div class="form-group" style="float: left;width: 120px;margin-right: 15px;">
                        <select class="form-control" name="inventoryInDateCategory" v-model="InventoryInListQuery.inventoryInDateCategory">
                            <option value="1" selected>创建日期</option>
                            <option value="2">入库日期</option>
                        </select>
                    </div>
                    <div style="float: left;margin-right: 15px;">
                        <div class="layui-inline">
                            <div class="layui-inline" id="test6">
                                <div class="layui-input-inline float-left" style="width: 100px;">
                                    <input type="text" autocomplete="off" id="test-startDate-1" v-model="InventoryInListQuery.inventoryInBeginTime" class="layui-input" name="inventoryInBeginTime" style="border: 1px rgb(206,212,218) solid" readonly placeholder="开始日期">
                                </div>
                                <div class="layui-form-mid float-left" style="margin: 0 auto;">-</div>
                                <div class="layui-input-inline float-left" style="width: 100px;">
                                    <input type="text" autocomplete="off" id="test-endDate-1" v-model="InventoryInListQuery.inventoryInEndTime" class="layui-input" name="inventoryInEndTime" style="border: 1px rgb(206,212,218) solid" readonly placeholder="结束日期">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="float: left;width: 160px;margin-right: 15px;">
                        <select class="form-control" v-model="InventoryInListQuery.inventoryInSupplierId" name="inventoryInSupplierId">
                            <option value="">全部供应商</option>
                            <option v-for="supplier in supplierList" :value="supplier.supplierId">{{ supplier.supplierName }}</option>
                        </select>
                    </div>
                    <div class="form-group" style="float: left;width: 140px;margin-right: 15px;">
                        <select class="form-control" v-model="InventoryInListQuery.inventoryInOperatorId" name="inventoryInOperatorId">
                            <option value="">全部入库人</option>
                            <option v-for="account in accountList" :value="account.accountId">{{ account.accountName }}</option>
                        </select>
                    </div>
                    <div style="float: left;">
                        <button type="submit" class="btn btn-outline-primary">查询</button>
                    </div>
                </form>
                <div style="float: right;margin-left: 15px;">
                    <button type="button" class="btn btn-outline-primary">导出</button>
                </div>
                <div style="float: right;">
                    <button type="button" class="btn btn-primary" v-on:click="openAddPage">新增入库</button>
                </div>
            </div>
            <div class="info">
                <table class="table table-striped" style="font-size: 15px;text-align: center;">
                    <thead>
                    <tr>
                        <td scope="col" width="15%">入库单号</td>
                        <td scope="col" width="5%">状态</td>
                        <td scope="col" width="15%">供应商</td>
                        <td scope="col" width="5%">品种</td>
                        <td scope="col" width="10%">金额(元)</td>
                        <td scope="col" width="10%">入库人</td>
                        <td scope="col" width="15%">创建日期</td>
                        <td scope="col" width="15%">入库日期</td>
                        <td scope="col" width="10%">操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="inventoryIn in inventoryInList">
                        <td>{{inventoryIn.inventoryInId}}</td>
                        <td>{{inventoryIn.inventoryInStatus}}</td>
                        <td>{{inventoryIn.inventoryInSupplierName}}</td>
                        <td>{{inventoryIn.inventoryInVariety}}</td>
                        <td>{{inventoryIn.inventoryInMoney}}</td>
                        <td>{{inventoryIn.inventoryInOperator}}</td>
                        <td>{{inventoryIn.inventoryInCreateTime}}</td>
                        <td>{{inventoryIn.inventoryInTime}}</td>
                        <td>
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-xs" style="margin-right: 10px;" v-on:click="detailed(inventoryIn.inventoryInId)">查看</button>
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-xs">撤回</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p v-if="inventoryInList.length === 0" class="no-data">暂无数据</p>
            </div>
            <div class="bottom">
                <div class="float-left">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">上一页</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">65</a></li>
                            <li class="page-item"><a class="page-link" href="#">66</a></li>
                            <li class="page-item"><a class="page-link" href="#">下一页</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="float-right">
                    <p>共4条入库单，金额100.00元</p>
                </div>
            </div>
        </div>
    </div>
    <div class="inventory-add" ref="add">
        <div class="inventory-pop">
            <div class="top">
                <p>新增入库单</p>
                <div>
                    <svg v-on:click="closeAddPage" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg svg-text float-right" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                    </svg>
                </div>
            </div>
            <div class="info">
                <div class="info1">
                    <p><span style="color: red">*</span> 入库人</p>
                    <div class="form-group" style="float: left;width: 140px;margin-right: 30px;">
                        <select class="form-control" name="inventoryInOperatorId" v-model="inventoryAdd.inventoryInOperatorId">
                            <option value="">全部入库人</option>
                            <option v-for="account in accountList" :value="account.accountId">{{ account.accountName }}</option>
                        </select>
                    </div>
                    <p><span style="color: red">*</span> 供应商</p>
                    <div class="form-group" style="float: left;width: 200px;margin-right: 30px;">
                        <select class="form-control" name="inventoryInSupplierId" v-model="inventoryAdd.inventoryInSupplierId">
                            <option value="">全部供应商</option>
                            <option v-for="supplier in supplierList" :value="supplier.supplierId">{{ supplier.supplierName }}</option>
                        </select>
                    </div>
                    <p>备注</p>
                    <div class="form-group" style="float: left;width: 200px;margin-right: 30px;">
                        <input type="text" class="form-control" name="inventoryRemarks" v-model="inventoryAdd.inventoryInRemarks">
                    </div>
                </div>
                <hr>
                <div class="info2">
                    <div class="head">
                        <div class="input-group mb-3 float-left" style="width: 500px;">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-info" disabled="disabled">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-capsule" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1.828 8.9 8.9 1.827a4 4 0 1 1 5.657 5.657l-7.07 7.071A4 4 0 1 1 1.827 8.9Zm9.128.771 2.893-2.893a3 3 0 1 0-4.243-4.242L6.713 5.429l4.243 4.242Z"/>
                                    </svg>
                                </button>
                            </div>
                            <input v-on:focus="onFocus" v-on:input="onInput($event.target.value)" v-on:blur="onBlur" type="text" id="selectCommodity" class="form-control" placeholder="请输入 药品名/国家码 搜索药品" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        </div>
                        <div class="select-input" ref="selectInput">
                            <table id="select-input-table" class="select-input-table" style="width: 100%;">
                                <tr v-for="inventory in inventoryList" v-on:click="InsertAdd(inventory)">
                                    <td class="select-input-td" style="width: 5%"></td>
                                    <td class="select-input-td" style="width: 35%;text-align: left;">{{inventory.commodityName}}</td>
                                    <td class="select-input-td" style="width: 35%;text-align: center;">{{inventory.commodityManufacturer}}</td>
                                    <td class="select-input-td" style="width: 20%;text-align: right">{{inventory.inventoryLargeNum + inventory.commodityLargeUnit}}{{ inventory.commoditySplitSaleStatus === 1 ? inventory.inventorySmallNum + inventory.commoditySmallUnit : ''}}</td>
                                    <td class="select-input-td" style="width: 5%"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="float-right">
                            <p>品种：{{variety}} 金额：{{inventoryAddMoney}}元</p>
                        </div>
                    </div>
                    <div class="table1">
                        <table class="table table-striped" style="font-size: 16px;text-align: center;">
                            <thead>
                            <tr>
                                <td scope="col" width="15%">药品ID</td>
                                <td scope="col" width="15%">商品名</td>
                                <td scope="col" width="10%">国家编码</td>
                                <td scope="col" width="10%">规格</td>
                                <td scope="col" width="10%">售价(元)</td>
                                <td scope="col" width="10%">进价(元)</td>
                                <td scope="col" width="15%"><span style="color: red">*</span> 入库数量</td>
                                <td scope="col" width="10%">入库金额(元)</td>
                                <td scope="col" width="5%"></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="inAdd in inventoryAdd.inventoryInDetailList">
                                <td>{{inAdd.inventoryInId}}</td>
                                <td>{{inAdd.inventoryInCommodityId}}</td>
                                <td>{{inAdd.inventoryInCountryCode}}</td>
                                <td>{{inAdd.inventoryInCommoditySpecification}}</td>
                                <td>
                                    {{inAdd.inventoryInCommodityLargeSalePrice + '元/' + inAdd.inventoryInLargeUnit}}
                                    {{inAdd.inventoryInSplitSaleStatus === 1 ? '，' + inAdd.inventoryInCommoditySmallSalePrice + '元/' + inAdd.inventoryInSmallUnit : ''}}</td>
                                <td>
                                    <input type="text" style="width: 50px;" v-model="inAdd.inventoryInCommodityLargeBidPrice">{{'元/' + inAdd.inventoryInLargeUnit}}
                                    <input type="text" style="width: 50px;" v-model="inAdd.inventoryInCommoditySmallBidPrice" v-if="inAdd.inventoryInSplitSaleStatus === 1">{{+inAdd.inventoryInSplitSaleStatus === 1 ? '元/' + inAdd.inventoryInSmallUnit : ''}}</td>
                                <td><input type="text" style="width: 50px;" v-model="inAdd.inventoryInLargeNum">{{inAdd.inventoryInLargeUnit}}
                                    <input type="text" style="width: 50px;" v-model="inAdd.inventoryInSmallNum" v-if="inAdd.inventoryInSplitSaleStatus === 1">{{inAdd.inventoryInSplitSaleStatus === 1 ? inAdd.inventoryInSmallUnit : ''}}</td>
                                <td>{{inAdd.inventoryInLargeNum * inAdd.inventoryInCommodityLargeBidPrice + inAdd.inventoryInSmallNum * inAdd.inventoryInCommoditySmallBidPrice}}</td>
                                <td>
                                    <div class="td-hover" v-on:click="deleteAdd(inAdd)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg svg-text" viewBox="0 0 16 16">
                                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                        </svg>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p v-if="inventoryAdd.inventoryInDetailList.length === 0" class="no-data">暂无数据</p>
                    </div>
                </div>
                <div class="save">
                    <div style="float: right;">
                        <button type="button" class="btn btn-primary">保存入库</button>
                    </div>
                    <div style="float: right;margin-right: 15px;">
                        <button type="button" class="btn btn-primary">等待入库</button>
                    </div>
                    <div style="float: right;margin-right: 15px;">
                        <button type="button" class="btn btn-outline-primary" v-on:click="closeAddPage">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inventory-detailed" ref="detail">
        <div class="inventory-pop">
            <div class="top">
                <p>{{'入库单' + inventoryInDetail.inventoryInId + '详情'}}</p>
                <div>
                    <svg v-on:click="closeDetailPage" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg svg-text float-right" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                    </svg>
                </div>
            </div>
            <div class="info">
                <div class="info1">
                    <p>{{'入库人: '+inventoryInDetail.inventoryInOperator}}</p>
                    <p>{{'供应商: '+inventoryInDetail.inventoryInSupplierName}}</p>
                    <p>{{'备注: '+inventoryInDetail.inventoryInRemarks}}</p>
                    <div class="float-right">
                        <p>{{'品种: '+inventoryInDetail.inventoryInVariety + ' 金额: ' + inventoryInDetail.inventoryInMoney}}</p>
                    </div>
                </div>
                <div class="info2">
                    <div class="table2">
                        <table class="table table-striped" style="font-size: 16px;text-align: center;">
                            <thead>
                            <tr>
                                <td scope="col" width="10%">商品ID</td>
                                <td scope="col" width="12%">商品名</td>
                                <td scope="col" width="10%">国家编码</td>
                                <td scope="col" width="13%">规格</td>
                                <td scope="col" width="15%">售价</td>
                                <td scope="col" width="15%">进价</td>
                                <td scope="col" width="15%">入库数量</td>
                                <td scope="col" width="10%">入库金额(元)</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="inDetail in inventoryInDetail.inventoryInDetailList">
                                <td>{{inDetail.inventoryInCommodityId}}</td>
                                <td>{{inDetail.inventoryInCommodityName}}</td>
                                <td>{{inDetail.inventoryInCountryCode}}</td>
                                <td>{{inDetail.inventoryInCommoditySpecification}}</td>
                                <td>
                                    {{inDetail.inventoryInCommodityLargeSalePrice + '元/' + inDetail.inventoryInLargeUnit}}
                                    {{inDetail.inventoryInSplitSaleStatus === 1 ? ','+inDetail.inventoryInCommoditySmallSalePrice + '元/' + inDetail.inventoryInSmallUnit : ''}}
                                </td>
                                <td>
                                    {{inDetail.inventoryInCommodityLargeBidPrice + '元/' + inDetail.inventoryInLargeUnit}}
                                    {{inDetail.inventoryInSplitSaleStatus === 1 ? ','+inDetail.inventoryInCommoditySmallBidPrice + '元/' + inDetail.inventoryInSmallUnit : ''}}
                                </td>
                                <td>
                                    {{inDetail.inventoryInLargeNum}}{{inDetail.inventoryInLargeUnit}}
                                    {{inDetail.inventoryInSplitSaleStatus === 1 ? inDetail.inventoryInSmallNum + inDetail.inventoryInSmallUnit : ''}}
                                </td>
                                <td>
                                    {{inDetail.inventoryInLargeNum * inDetail.inventoryInCommodityLargeBidPrice + inDetail.inventoryInSmallNum * inDetail.inventoryInCommoditySmallBidPrice}}
                                </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shadow" ref="shadow"></div>
</div>
    <script>
        let vm = new Vue({
            el: "#inventoryIn",
            data: {
                // 查询条件
                InventoryInListQuery: {
                    inventoryInStatus: '',
                    inventoryInDateCategory: 1,
                    inventoryInBeginTime: '',
                    inventoryInEndTime: '',
                    inventoryInSupplierId: '',
                    inventoryInOperatorId: '',
                    inventoryInTenantId: ''
                },
                // 供应商列表
                supplierList: [{
                    supplierId: '',
                    supplierName: '',
                }],
                // 入库人列表
                accountList: [{
                    accountId: '',
                    accountName: '',
                }],
                // 入库单列表
                inventoryInList: [{
                    inventoryInId:'',
                    inventoryInStatus: '',
                    inventoryInTime: '',
                    inventoryInCreateTime: '',
                    inventoryInOperator: '',
                    inventoryInSupplierName: '',
                    inventoryInRemarks: '',
                    inventoryInVariety: '',
                    inventoryInMoney: '',
                }],
                // 入库单明细
                inventoryInDetail:{
                    inventoryInId:'',
                    inventoryInOperator: '',
                    inventoryInSupplierName: '',
                    inventoryInRemarks: '',
                    inventoryInVariety: '',
                    inventoryInMoney: '',
                    inventoryInDetailList: [{
                        inventoryInCommodityId: '',
                        inventoryInCommodityName: '',
                        inventoryInCountryCode: '',
                        inventoryInCommoditySpecification: '',
                        inventoryInSplitSaleStatus: '',
                        inventoryInCommodityLargeBidPrice: '',
                        inventoryInCommoditySmallBidPrice: '',
                        inventoryInCommodityLargeSalePrice: '',
                        inventoryInCommoditySmallSalePrice: '',
                        inventoryInLargeUnit: '',
                        inventoryInSmallUnit: '',
                        inventoryInLargeNum: '',
                        inventoryInSmallNum: '',
                    }]
                },
                // 库存列表
                inventoryList:[{
                    commodityId: '',
                    commodityName: '',
                    commodityCountryCode: '',
                    commodityCategory: '',
                    commodityBarCode: '',
                    commodityManufacturer: '',
                    commodityApprovalNo: '',
                    commoditySpecification: '',
                    commodityLargeUnit: '',
                    commoditySmallUnit: '',
                    inventoryLargeNum: '',
                    inventorySmallNum: '',
                    commoditySplitSaleStatus: '',
                    commodityLargePrice: '',
                    commoditySmallPrice: '',
                    commodityDosageForm: '',
                    commodityEnableStatus: '',
                }],
                // 入库单新增
                inventoryAdd:{
                    inventoryInId:'',
                    inventoryInStatus: '',
                    inventoryInOperatorId: '',
                    inventoryInTime: '',
                    inventoryInCreateTime: '',
                    inventoryInSupplierId: '',
                    inventoryInRemarks: '',
                    inventoryInVariety: '',
                    inventoryInMoney: '',
                    inventoryInDetailList: [{
                        inventoryInDetailId: '',
                        inventoryInId: '',
                        inventoryInCommodityId: '',
                        inventoryInCommodityName: '',
                        inventoryInCountryCode: '',
                        inventoryInCommoditySpecification: '',
                        inventoryInSplitSaleStatus: '',
                        inventoryInCommodityLargeBidPrice:'',
                        inventoryInCommoditySmallBidPrice: '',
                        inventoryInCommodityLargeSalePrice: '',
                        inventoryInCommoditySmallSalePrice: '',
                        inventoryInBeforeLargeNum: '',
                        inventoryInBeforeSmallNum: '',
                        inventoryInAfterLargeNum: '',
                        inventoryInAfterSmallNum: '',
                        inventoryInLargeUnit: '',
                        inventoryInSmallUnit: '',
                        inventoryInLargeNum: '',
                        inventoryInSmallNum: '',
                    }]
                }
            },
            methods: {
                // 入库单一览查询请求
                selectInventoryInSubmit(event){
                    // 防止回调中this指向ajax回调函数本身导致失效
                    let that = this;
                    // 阻止表单默认提交行为
                    event.preventDefault();
                    // 创建FormData对象
                    $.ajax({
                        url: '/inventory/toInventoryInByQuery',
                        type: 'POST',
                        data: JSON.stringify(this.InventoryInListQuery),
                        contentType: 'application/json',
                        success: function (response) {
                            // 先清空上一次数据再push
                            that.inventoryInList.splice(0, that.inventoryInList.length);
                            response.forEach((item) => {
                                that.inventoryInList.push(item);
                            });
                        },
                        error:function () {
                            layer.msg('请求入库单一览查询失败，请刷新重试');
                        }
                    })
                },
                // 查看入库单详情
                detailed(id){
                    // 防止回调中this指向ajax回调函数本身导致失效
                    let that = this;
                    $.ajax({
                        url: '/inventory/selectInDetailById?id='+id,
                        type: 'GET',
                        contentType:false,
                        success: function (response) {
                            that.inventoryInDetail = response;
                            // 打开详情弹窗
                            that.openDetailPage();
                        },
                        error:function () {
                            layer.msg('请求查看入库单详情失败，请刷新重试');
                        }
                    })
                },
                // 点击添加药品到入库单新增列表
                InsertAdd(inventory){
                    this.inventoryAdd.inventoryInDetailList.push(item => {
                        item.inventoryInId = this.inventoryAdd.inventoryInId;
                        item.inventoryInCommodityId = inventory.commodityId;
                        item.inventoryInCommodityName = inventory.commodityName;
                        item.inventoryInCountryCode = inventory.commodityCountryCode;
                        item.inventoryInCommoditySpecification = inventory.commoditySpecification;
                        item.inventoryInSplitSaleStatus = inventory.commoditySplitSaleStatus;
                        item.inventoryInCommodityLargeSalePrice = inventory.commodityLargePrice;
                        item.inventoryInCommoditySmallSalePrice = inventory.commoditySmallPrice;
                        item.inventoryInLargeUnit = inventory.commodityLargeUnit;
                        item.inventoryInSmallUnit = inventory.commoditySmallUnit;
                    })
                },
                // 搜索药品输入框焦点事件监听
                onFocus(){
                    this.showSelect();
                },
                // 搜索药品输入框变化事件监听
                onInput(inputValue){
                    // 防止回调中this指向ajax回调函数本身导致失效
                    let that = this;
                    // 请求商品数据
                    $.ajax({
                        url: '/inventory/selectInventoryByName?name='+inputValue,
                        type: 'GET',
                        success: function(response) {
                            that.showSelect();
                            that.inventoryList.splice(0, that.inventoryList.length);
                            // 处理响应数据
                            response.forEach((item)=>{
                                that.inventoryList.push(item);
                            });
                        },
                        error: function() {
                            layer.msg("请求库存列表失败，请刷新重试");
                        }
                    });
                },
                // 搜索药品输入框失去焦点事件监听
                onBlur(){
                    this.hideSelect();
                },
                // 删除列表元素
                deleteAdd(add){
                    const index = this.inventoryAdd.inventoryInDetailList.findIndex(item => item === add);
                    this.inventoryAdd.inventoryInDetailList.splice(index,1);
                },
                // 打开详情弹窗
                openDetailPage(){
                    this.$refs.shadow.style.display = "block";
                    this.$refs.detail.style.display = "block";
                },
                // 关闭详情弹窗
                closeDetailPage(){
                    this.$refs.shadow.style.display = "none";
                    this.$refs.detail.style.display = "none";
                },
                // 打开新增弹窗
                openAddPage(){
                    this.$refs.shadow.style.display = "block";
                    this.$refs.add.style.display = "block";
                },
                // 关闭新增弹窗
                closeAddPage(){
                    this.$refs.shadow.style.display = "block";
                    this.$refs.add.style.display = "block";
                },
                // 显示搜索商品列表
                showSelect(){
                    this.$refs.selectInput.style.display = "block";
                },
                // 隐藏搜索商品列表
                hideSelect(){
                    this.$refs.selectInput.style.display = "none";
                }
            },
            computed: {
                // 计算新增入库单总金额
                inventoryAddMoney(){
                    let inventoryAddMoney = 0;
                    this.inventoryAdd.inventoryInDetailList.forEach(inAdd => {
                        inventoryAddMoney += inAdd.inventoryInLargeNum * inAdd.inventoryInCommodityLargeBidPrice + inAdd.inventoryInSmallNum * inAdd.inventoryInCommoditySmallBidPrice
                    });
                    return inventoryAddMoney;
                },
                // 计算品种数
                variety(){
                    // 返回品种数
                    return this.inventoryAdd.inventoryInDetailList.length;
                }
            },
            mounted() {
                // 先清空所有data的list，因为初始定义格式为一个全是空值的list
                this.inventoryInList.splice(0, this.inventoryInList.length);
                this.supplierList.splice(0, this.supplierList.length);
                this.accountList.splice(0, this.accountList.length);
                this.inventoryList.splice(0, this.inventoryList.length);
                this.inventoryAdd.inventoryInDetailList.splice(0, this.inventoryAdd.inventoryInDetailList.length);
                this.inventoryInDetail.inventoryInDetailList.splice(0,this.inventoryInDetail.inventoryInDetailList.length);
                // 防止回调中this指向ajax回调函数本身导致失效
                let that = this;
                // 初始化加载数据
                $.ajax({
                    url: '/inventory/toInventoryInByQuery',
                    type: 'POST',
                    data: JSON.stringify(this.InventoryInListQuery),
                    contentType: 'application/json',
                    success: function (response) {
                        // 先清空再PUSH
                        response.forEach((item) => {
                            that.inventoryInList.push(item);
                        });
                    },
                    error:function () {
                        layer.msg('请求入库单一览查询失败，请刷新重试');
                    }
                });
                // 获取供应商列表
                $.ajax({
                    url: '/inventory/supplierList',
                    type: 'GET',
                    success: function (response) {
                        response.forEach((item) => {
                            that.supplierList.push(item);
                        });
                    },
                    error:function () {
                        layer.msg('请求供应商列表失败，请刷新重试');
                    }
                });
                //获取入库人列表
                $.ajax({
                    url: '/account/getAccountList',
                    type: 'GET',
                    success: function (response) {
                        response.forEach((item) => {
                            that.accountList.push(item);
                        });
                    },
                    error:function () {
                        layer.msg('请求入库人列表失败，请刷新重试');
                    }
                })
            }
        });

        layui.use('laydate', function(){
            var laydate = layui.laydate;
            //日期范围
            laydate.render({
                elem: '#test6'
                //设置开始日期、日期日期的 input 选择器
                //数组格式为 2.6.6 开始新增，之前版本直接配置 true 或任意分割字符即可
                ,range: ['#test-startDate-1', '#test-endDate-1']
            });
        });
    </script>
</body>
</html>
