<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{common/common::cjbar}"/>
    <title>库存</title>
</head>
<body style="background-color: rgb(225,228,232);">
    <div th:replace="~{common/common::headbar}"/>
    <div class="inventory">
        <div class="left">
            <div th:replace="~{common/common::inventoryMeau}"/>
        </div>
        <div class="right">
            <div class="top">
                <form id="form1" th:action="@{/inventory/toInventoryInByQuery}" method="post">
                    <div class="form-group" style="float: left;width: 150px;margin-right: 15px;">
                        <select class="form-control" name="inventory_in_status">
                            <option value="">全部状态</option>
                            <option value="待入库">待入库</option>
                            <option value="已入库">已入库</option>
                        </select>
                    </div>
                    <div class="form-group" style="float: left;width: 120px;margin-right: 15px;">
                        <select class="form-control" name="inventory_in_date_category">
                            <option value="1" selected>创建日期</option>
                            <option value="2">入库日期</option>
                        </select>
                    </div>
                    <div style="float: left;margin-right: 15px;">
                        <div class="layui-inline">
                            <div class="layui-inline" id="test6">
                                <div class="layui-input-inline float-left" style="width: 100px;">
                                    <input type="text" autocomplete="off" id="test-startDate-1" class="layui-input" name="inventory_in_begin_time" style="border: 1px rgb(206,212,218) solid" readonly placeholder="开始日期">
                                </div>
                                <div class="layui-form-mid float-left" style="margin: 0 auto;">-</div>
                                <div class="layui-input-inline float-left" style="width: 100px;">
                                    <input type="text" autocomplete="off" id="test-endDate-1" class="layui-input" name="inventory_in_end_time" style="border: 1px rgb(206,212,218) solid" readonly placeholder="结束日期">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="float: left;width: 160px;margin-right: 15px;">
                        <select class="form-control" id="supplier" name="inventory_in_supplier_id">
                            <option value="">全部供应商</option>
                        </select>
                    </div>
                    <div class="form-group" style="float: left;width: 140px;margin-right: 15px;">
                        <select class="form-control" id="operator" name="inventory_in_operator_id">
                            <option value="">全部入库人</option>
                        </select>
                    </div>
                    <div style="float: left;">
                        <button type="submit" class="btn btn-outline-primary">查询</button>
                    </div>
                </form>
                <div style="float: right;margin-left: 15px;">
                    <button type="button" class="btn btn-outline-primary">导出</button>
                </div>
                <div style="float: right;">
                    <button type="button" class="btn btn-primary" id="add">新增入库</button>
                </div>
            </div>
            <div class="info" id="inInfoList" th:fragment="inInfoList">
                <table class="table table-striped" style="font-size: 15px;">
                    <thead>
                    <tr>
                        <td scope="col" width="15%">入库单号</td>
                        <td scope="col" width="5%">状态</td>
                        <td scope="col" width="15%">供应商</td>
                        <td scope="col" width="5%">品种</td>
                        <td scope="col" width="10%">金额(元)</td>
                        <td scope="col" width="10%">入库人</td>
                        <td scope="col" width="15%">创建日期</td>
                        <td scope="col" width="15%">入库日期</td>
                        <td scope="col" width="10%">操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="inventoryIn:${infoInDTOList}">
                        <td th:text="${inventoryIn.getInventory_in_id()}"></td>
                        <td th:text="${inventoryIn.getInventory_in_status()}"></td>
                        <td th:text="${inventoryIn.getInventory_in_supplier_name()}"></td>
                        <td th:text="${inventoryIn.getInventory_in_variety()}"></td>
                        <td th:text="${inventoryIn.getInventory_in_money()}"></td>
                        <td th:text="${inventoryIn.getInventory_in_operator()}"></td>
                        <td th:text="${inventoryIn.getInventory_in_create_time()}"></td>
                        <td th:text="${inventoryIn.getInventory_in_time()}"></td>
                        <td>
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-xs" style="margin-right: 10px;" th:onclick="|detail('${inventoryIn.getInventory_in_id()}')|">查看</button>
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-xs">撤回</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p th:if="${infoInDTOList.size() == 0}" class="no-data">暂无数据</p>
            </div>
            <div class="bottom">
                <div class="float-left">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">上一页</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">65</a></li>
                            <li class="page-item"><a class="page-link" href="#">66</a></li>
                            <li class="page-item"><a class="page-link" href="#">下一页</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="float-right">
                    <p>共4条入库单，金额100.00元</p>
                </div>
            </div>
        </div>
    </div>
    <div class="inventory-add" id="inventory-add">
        <div class="inventory-pop">
            <div class="top">
                <p>入库单</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg svg-text float-right" id="addClose" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                </svg>
            </div>
            <div class="info">
                <div class="info1">
                    <p><span style="color: red">*</span> 入库人</p>
                    <div class="form-group" style="float: left;width: 140px;margin-right: 30px;">
                        <select class="form-control" id="operator2" name="inventory_in_operator_id">
                            <option value="">全部入库人</option>
                        </select>
                    </div>
                    <p><span style="color: red">*</span> 供应商</p>
                    <div class="form-group" style="float: left;width: 200px;margin-right: 30px;">
                        <select class="form-control" id="supplier2" name="inventory_in_supplier_id">
                            <option value="">全部供应商</option>
                        </select>
                    </div>
                    <p><span style="color: red">*</span> 随货单号</p>
                    <div class="form-group" style="float: left;width: 200px;margin-right: 30px;">
                        <input type="text" class="form-control" name="inventory_in_delivery">
                    </div>
                    <p>备注</p>
                    <div class="form-group" style="float: left;width: 200px;margin-right: 30px;">
                        <input type="text" class="form-control" name="inventory_remarks">
                    </div>
                </div>
                <hr>
                <div class="info2">
                    <div class="head">
                        <div class="input-group mb-3 float-left" style="width: 500px;">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-info" disabled="disabled">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-capsule" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1.828 8.9 8.9 1.827a4 4 0 1 1 5.657 5.657l-7.07 7.071A4 4 0 1 1 1.827 8.9Zm9.128.771 2.893-2.893a3 3 0 1 0-4.243-4.242L6.713 5.429l4.243 4.242Z"/>
                                    </svg>
                                </button>
                            </div>
                            <input type="text" class="form-control" placeholder="请输入 药品名/国家码 搜索药品" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        </div>
                        <div class="float-right">
                            <p>品种：0 金额：0.00元</p>
                        </div>
                    </div>
                    <div class="table1">
                        <table class="table table-striped" style="font-size: 16px;">
                            <thead>
                            <tr>
                                <td scope="col" width="15%">药品名</td>
                                <td scope="col" width="10%">生产厂家</td>
                                <td scope="col" width="10%">售价(元)</td>
                                <td scope="col" width="10%">生产批号</td>
                                <td scope="col" width="10%">生产日期</td>
                                <td scope="col" width="10%">效期</td>
                                <td scope="col" width="10%"><span style="color: red">*</span> 入库数量</td>
                                <td scope="col" width="10%">进价(元)</td>
                                <td scope="col" width="10%">金额(元)</td>
                                <td scope="col" width="5%"></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>感冒灵颗粒</td>
                                <td></td>
                                <td>30.00</td>
                                <td>20230302001</td>
                                <td>2023年1月5日</td>
                                <td>2025年1月5日</td>
                                <td>300盒</td>
                                <td>25.00</td>
                                <td>7500.00</td>
                                <td>
                                    <div class="td-hover">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg svg-text" viewBox="0 0 16 16">
                                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                        </svg>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="save">
                    <div style="float: right;">
                        <button type="button" class="btn btn-primary">保存入库</button>
                    </div>
                    <div style="float: right;margin-right: 15px;">
                        <button type="button" class="btn btn-primary">等待入库</button>
                    </div>
                    <div style="float: right;margin-right: 15px;">
                        <button type="button" class="btn btn-outline-primary" id="addClose2">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inventory-detailed" id="inventory-detailed">
        <div class="inventory-pop" th:fragment="inventoryInInfo" id="inventoryInInfo">
            <div class="top">
                <p th:text="'入库单'+${inventoryInInfo.getInventory_in_id()}+'详情'"></p>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg svg-text float-right" id="selectClose" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                </svg>
            </div>
            <div class="info">
                <div class="info1">
                    <p th:text="'入库人: '+${inventoryInInfo.getInventory_in_operator()}"></p>
                    <p th:text="'供应商: '+${inventoryInInfo.getInventory_in_supplier_name()}"></p>
                    <p th:text="'备注: '+${inventoryInInfo.getInventory_in_remarks()}"></p>
                    <div class="float-right">
                        <p th:text="'品种: '+${inventoryInInfo.getInventory_in_variety()}+' 金额: '+${inventoryInInfo.getInventory_in_money()}+' 元'"></p>
                    </div>
                </div>
                <div class="info2">
                    <div class="table2">
                        <table class="table table-striped" style="font-size: 16px;">
                            <thead>
                            <tr>
                                <td scope="col" width="15%">药品名</td>
                                <td scope="col" width="15%">国家码</td>
                                <td scope="col" width="10%">售价(元)</td>
                                <td scope="col" width="10%">生产批号</td>
                                <td scope="col" width="10%">生产日期</td>
                                <td scope="col" width="10%">效期</td>
                                <td scope="col" width="10%">入库数量</td>
                                <td scope="col" width="10%">进价(元)</td>
                                <td scope="col" width="10%">金额(元)</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="inDetail:${inventoryInInfo.getInDetailDTOList()}">
                                <td th:text="${inDetail.getInventory_in_commodity_name()}"></td>
                                <td th:text="${inDetail.getInventory_in_country_code()}"></td>
                                <td th:text="${inDetail.getInventory_in_commodity_name()}"></td>
                                <td th:text="${inDetail.getInventory_in_commodity_name()}"></td>
                                <td th:text="${inDetail.getInventory_in_commodity_name()}"></td>
                                <td th:text="${inDetail.getInventory_in_commodity_name()}"></td>
                                <td th:text="${inDetail.getInventory_in_commodity_name()}"></td>
                                <td th:text="${inDetail.getInventory_in_commodity_name()}"></td>
                                <td th:text="${inDetail.getInventory_in_commodity_name()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shadow" id="shadow">

    </div>
    <script>
        layui.use('laydate', function(){
            var laydate = layui.laydate;

            //日期范围
            laydate.render({
                elem: '#test6'
                //设置开始日期、日期日期的 input 选择器
                //数组格式为 2.6.6 开始新增，之前版本直接配置 true 或任意分割字符即可
                ,range: ['#test-startDate-1', '#test-endDate-1']
            });
        });
        const btn1 = document.getElementById("add");
        const shadow = document.getElementById("shadow");
        const add = document.getElementById("inventory-add");
        const close1 = document.getElementById("addClose");
        const close2 = document.getElementById("addClose2");
        const detailed = document.getElementById("inventory-detailed");
        const select = document.getElementById("select1");
        const close3 = document.getElementById("selectClose");

        // 打开新增弹窗
        btn1.onclick = function () {
            shadow.style.display = "block";
            add.style.display = "block";
        };

        // 关闭新增弹窗
        close1.onclick = function () {
            shadow.style.display = "none";
            add.style.display = "none";
        };

        // 关闭新增弹窗
        close2.onclick = function () {
            shadow.style.display = "none";
            add.style.display = "none";
        };

        // 打开详情弹窗
        select.onclick = function () {
            shadow.style.display = "block";
            detailed.style.display = "block";
        };

        // 关闭详情弹窗
        close3.onclick = function () {
            shadow.style.display = "none";
            detailed.style.display = "none";
        };

        /**
         * 刷新入库单一览页面信息
         */
        const form1 = document.getElementById("form1");
        form1.addEventListener('submit',function (event) {
            // 阻止表单默认提交行为
            event.preventDefault();
            // 创建FormData对象
            const formData1 = new FormData(form1);
            $.ajax({
                url: '/inventory/toInventoryInByQuery',
                type: 'POST',
                data: formData1,
                contentType: false,
                processData: false,
                success: function (data) {
                    $("#inInfoList").html(data);
                },
                error:function (data) {
                    layer.msg('请求失败，请刷新重试');
                }
            })
        });

        /**
         * 页面初始加载
         * @type {HTMLElement}
         */
        $(document).ready(function() {
            // 获取供应商列表
            $.ajax({
                url: '/inventory/supplierList',
                type: 'GET',
                contentType: false,
                processData: false,
                success: function (response) {
                    response.forEach((item)=>{
                        //先创建好select里面的option元素
                        const option = document.createElement("option");
                        //转换DOM对象为JQ对象,好用JQ里面提供的方法 给option的value赋值
                        $(option).val(item.supplier_id);
                        //给option的text赋值,这就是你点开下拉框能够看到的东西
                        $(option).text(item.supplier_name);
                        //获取select 下拉框对象,并将option添加进select
                        $('#supplier').append(option);
                        $('#supplier2').append(option);
                    });
                },
                error:function (response) {
                    layer.msg('请求失败，请刷新重试');
                }
            });

            // 获取入库人列表
            $.ajax({
                url: '/account/getAccountList',
                type: 'GET',
                contentType: false,
                processData: false,
                success: function (response) {
                    response.forEach((item)=>{
                        //先创建好select里面的option元素
                        const option = document.createElement("option");
                        //转换DOM对象为JQ对象,好用JQ里面提供的方法 给option的value赋值
                        $(option).val(item.account_id);
                        //给option的text赋值,这就是你点开下拉框能够看到的东西
                        $(option).text(item.account_name);
                        //获取select 下拉框对象,并将option添加进select
                        $('#operator').append(option);
                        $('#operator2').append(option);
                    });
                },
                error:function (response) {
                    layer.msg('请求失败，请刷新重试');
                }
            })
        });

        /**
         * 查看入库单
         * @param id
         */
        function detail(id) {
            $.ajax({
                url: '/inventory/selectInDetailById',
                type: 'GET',
                data: id,
                contentType: false,
                processData: false,
                success: function (data) {
                    $("#inventoryInInfo").html(data);
                },
                error:function (data) {
                    layer.msg('请求失败，请刷新重试');
                }
            })
        }
    </script>
</body>
</html>
