<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cdu.jhb.inventory.database.InventoryInMapper">

    <select id="getInventoryInList" resultType="cdu.jhb.domain.inventory.InventoryInInfo">
        SELECT
            i.inventory_in_id,
            i.inventory_in_status,
            s.supplier_name AS inventory_in_supplier_name,
            i.inventory_in_time,
            i.inventory_in_create_time,
            e.employee_name AS inventory_in_operator,
            i.inventory_in_variety,
            i.inventory_in_remarks,
            i.inventory_in_money
        FROM inventory_in_table i
        LEFT JOIN supplier_table s ON i.inventory_in_supplier_id = s.supplier_id
        LEFT JOIN employee_table e ON i.inventory_in_operator_id = e.employee_id
        WHERE
            i.inventory_in_tenant_id = #{param.inventoryInTenantId}
        <if test="param.inventoryInStatus != null and param.inventoryInStatus !=''">
            AND i.inventory_in_status = #{param.inventoryInStatus}
        </if>
        <if test="param.inventoryInSupplierId != null">
            AND i.inventory_in_supplier_id = #{param.inventoryInSupplierId}
        </if>
        <if test="param.inventoryInOperatorId != null">
            AND i.inventory_in_operator_id = #{param.inventoryInOperatorId}
        </if>
        <if test="param.inventoryInDateCategory == 1">
            <if test="param.inventoryInBeginTime != '' and param.inventoryInEndTime != ''">
                AND i.inventory_in_create_time BETWEEN #{param.inventoryInBeginTime} AND #{param.inventoryInEndTime}
            </if>
            ORDER BY i.inventory_in_create_time DESC
        </if>
        <if test="param.inventoryInDateCategory == 2">
            <if test="param.inventoryInBeginTime != '' and param.inventoryInEndTime != ''">
                AND i.inventory_in_time BETWEEN #{param.inventoryInBeginTime} AND #{param.inventoryInEndTime}
            </if>
            ORDER BY i.inventory_in_time DESC
        </if>
    </select>

    <select id="getInventoryInInfo" resultType="cdu.jhb.domain.inventory.InventoryInInfo">
        SELECT
            i.inventory_in_id,
            i.inventory_in_status,
            s.supplier_name AS inventory_in_supplier_name,
            i.inventory_in_time,
            i.inventory_in_create_time,
            e.employee_name AS inventory_in_operator,
            i.inventory_in_variety,
            i.inventory_in_remarks,
            i.inventory_in_money
        FROM inventory_in_table i
        LEFT JOIN supplier_table s ON i.inventory_in_supplier_id = s.supplier_id
        LEFT JOIN employee_table e ON i.inventory_in_operator_id = e.employee_id
        WHERE
            i.inventory_in_tenant_id = #{tenantId} AND i.inventory_in_id = #{id}
    </select>

</mapper>
