<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cdu.jhb.inventory.database.InventoryMapper">

    <select id="getInventoryList" resultType="cdu.jhb.domain.inventory.InventoryInfo">
        SELECT
            c.commodity_id,
            c.commodity_name,
            c.commodity_country_code,
            c.commodity_category,
            c.commodity_bar_code,
            c.commodity_manufacturer,
            c.commodity_specification,
            c.commodity_approval_no,
            c.commodity_large_unit,
            c.commodity_small_unit,
            c.commodity_large_price,
            c.commodity_small_price,
            c.commodity_dosage_form,
            c.commodity_enable_status,
            c.commodity_split_sale_status,
            i.inventory_large_num,
            i.inventory_small_num
        FROM inventory_table i
        LEFT JOIN commodity_table c ON i.inventory_commodity_id = c.commodity_id
        WHERE 1 = 1
        <if test="param.inventoryCommodityName != null and param.inventoryCommodityName !=''">
            AND (
                    c.commodity_name LIKE CONCAT('%',#{param.inventoryCommodityName},'%')
                    OR c.commodity_pinyin LIKE  CONCAT('%',#{param.inventoryCommodityName},'%')
                )
        </if>
        <if test="param.inventoryManufacturer != null and param.inventoryManufacturer !=''">
            AND c.commodity_manufacturer LIKE CONCAT('%',#{param.inventoryManufacturer},'%')
        </if>
        <if test="param.inventoryCategory != null and param.inventoryCategory !=''">
            AND c.commodity_category LIKE CONCAT('%',#{param.inventoryCategory},'%')
        </if>
        <if test="param.status == 2">
            AND (i.inventory_large_num > 0 OR i.inventory_small_num > 0)
        </if>
        <if test="param.enable == 0">
            AND c.commodity_enable_status = 1
        </if>
        AND i.inventory_tenant_id = #{param.inventoryTenantId}
    </select>

    <select id="getSupplierList" resultType="cdu.jhb.inventory.database.dataobject.SupplierDO">
        SELECT
            s.supplier_id,
            s.supplier_name,
            s.supplier_status,
            s.supplier_tenant_id
        FROM supplier_table s
        WHERE s.supplier_tenant_id = #{tenant_id} AND s.supplier_status = 1
    </select>

</mapper>
