<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cdu.jhb.inventory.database.InventoryOutMapper">

    <select id="getInventoryOutList" resultType="cdu.jhb.domain.inventory.InventoryOutInfo">
        SELECT
            i.inventory_out_id,
            i.inventory_out_status,
            i.inventory_out_category,
            i.inventory_out_time,
            i.inventory_out_create_time,
            a.account_name AS inventory_out_operator,
            i.inventory_out_variety,
            i.inventory_out_money
        FROM inventory_out_table i
        LEFT JOIN account_table a ON i.inventory_out_operator_id = a.account_id
        WHERE
            i.inventory_out_tenant_id = #{param.inventoryOutTenantId}
        <if test="param.inventoryOutStatus != null and param.inventoryOutStatus !=''">
            AND i.inventory_out_status = #{param.inventoryOutStatus}
        </if>
        <if test="param.inventoryOutCategory != null and param.inventoryOutCategory !=''">
            AND i.inventory_out_category = #{param.inventoryOutCategory}
        </if>
        <if test="param.inventoryOutOperatorId != null">
            AND i.inventory_out_operator_id = #{param.inventoryOutOperatorId}
        </if>
        <if test="param.inventoryOutDateCategory == 1">
            <if test="param.inventoryOutBeginTime != '' and param.inventoryOutEndTime != ''">
                AND i.inventory_out_create_time BETWEEN #{param.inventoryOutBeginTime} AND #{param.inventoryOutEndTime}
            </if>
            ORDER BY i.inventory_out_create_time DESC
        </if>
        <if test="param.inventoryOutDateCategory == 2">
            <if test="param.inventoryOutBeginTime != '' and param.inventoryOutEndTime != ''">
                AND i.inventory_out_time BETWEEN #{param.inventoryOutBeginTime} AND #{param.inventoryOutEndTime}
            </if>
            ORDER BY i.inventory_out_time DESC
        </if>
    </select>

    <select id="getInventoryOutInfo" resultType="cdu.jhb.domain.inventory.InventoryOutInfo">
        SELECT
            i.inventory_out_id,
            i.inventory_out_status,
            i.inventory_out_time,
            i.inventory_out_create_time,
            a.account_name AS inventory_out_operator,
            i.inventory_out_variety,
            i.inventory_out_category,
            i.inventory_out_remarks,
            i.inventory_out_money
        FROM inventory_out_table i
        LEFT JOIN account_table a ON i.inventory_out_operator_id = a.account_id
        WHERE
            i.inventory_out_tenant_id = #{tenantId} AND i.inventory_out_id = #{id}
    </select>

</mapper>
