<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cdu.jhb.inventory.database.InventoryInMapper">

    <select id="getInventoryInList" resultType="cdu.jhb.domain.inventory.InventoryInInfo">
        SELECT
            i.inventory_in_id,
            i.inventory_in_status,
            s.supplier_name AS inventory_in_supplier_name,
            i.inventory_in_time,
            i.inventory_in_create_time,
            a.account_name AS inventory_in_operator,
            i.inventory_in_variety,
            i.inventory_in_remarks,
            i.inventory_in_money
        FROM inventory_in_table i
        LEFT JOIN supplier_table s ON i.inventory_in_supplier_id = s.supplier_id
        LEFT JOIN account_table a ON i.inventory_in_operator_id = a.account_id
        WHERE
            i.inventory_in_tenant_id = #{param.inventory_in_tenant_id}
        <if test="param.inventory_in_status != null and param.inventory_in_status !=''">
            AND i.inventory_in_status = #{param.inventory_in_status}
        </if>
        <if test="param.inventory_in_supplier_id != null">
            AND i.inventory_in_supplier_id = #{param.inventory_in_supplier_id}
        </if>
        <if test="param.inventory_in_operator_id != null">
            AND i.inventory_in_operator_id = #{param.inventory_in_operator_id}
        </if>
        <if test="param.inventory_in_date_category == 1">
            <if test="param.inventory_in_begin_time != '' and param.inventory_in_end_time != ''">
                AND i.inventory_in_create_time BETWEEN #{param.inventory_in_begin_time} AND #{param.inventory_in_end_time}
            </if>
            ORDER BY i.inventory_in_create_time DESC
        </if>
        <if test="param.inventory_in_date_category == 2">
            <if test="param.inventory_in_begin_time != '' and param.inventory_in_end_time != ''">
                AND i.inventory_in_time BETWEEN #{param.inventory_in_begin_time} AND #{param.inventory_in_end_time}
            </if>
            ORDER BY i.inventory_in_time DESC
        </if>
    </select>

    <select id="getInventoryInInfo" resultType="cdu.jhb.domain.inventory.InventoryInInfo">
        SELECT
            i.inventory_in_id,
            i.inventory_in_status,
            s.supplier_name AS inventory_in_supplier_name,
            i.inventory_in_time,
            i.inventory_in_create_time,
            a.account_name AS inventory_in_operator,
            i.inventory_in_variety,
            i.inventory_in_remarks,
            i.inventory_in_money
        FROM inventory_in_table i
        LEFT JOIN supplier_table s ON i.inventory_in_supplier_id = s.supplier_id
        LEFT JOIN account_table a ON i.inventory_in_operator_id = a.account_id
        WHERE
            i.inventory_in_tenant_id = #{tenantId} AND i.inventory_in_id = #{id}
    </select>

<!--    <select id="getInDetailList" resultType="cdu.jhb.inventory.database.dataobject.InventoryInDetailDO">-->
<!--        SELECT-->
<!--            i.inventory_in_detail_id,-->
<!--            i.inventory_in_id,-->
<!--            i.inventory_in_commodity_id,-->
<!--            i.inventory_in_commodity_name,-->
<!--            i.inventory_in_large_unit,-->
<!--            i.inventory_in_small_unit,-->
<!--            i.inventory_in_before_large_num,-->
<!--            i.inventory_in_before_small_num,-->
<!--            i.inventory_in_after_large_num,-->
<!--            i.inventory_in_after_small_num,-->
<!--            i.inventory_in_large_num,-->
<!--            i.inventory_in_small_num-->
<!--        FROM inventory_in_detail_table i-->
<!--        WHERE i.inventory_in_id = #{id}-->

<!--    </select>-->

</mapper>
