<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cdu.jhb.inventory.database.InventoryCheckMapper">

    <select id="getInventoryCheckList" resultType="cdu.jhb.domain.inventory.InventoryCheckInfo">
        SELECT
            i.inventory_check_id,
            i.inventory_check_status,
            i.inventory_check_time,
            i.inventory_check_create_time,
            e.employee_name AS inventory_check_operator,
            i.inventory_check_variety,
            i.inventory_check_remarks
        FROM inventory_check_table i
        LEFT JOIN employee_table e ON i.inventory_check_operator_id = e.employee_id
        WHERE
            i.inventory_check_tenant_id = #{param.inventoryCheckTenantId}
        <if test="param.inventoryCheckStatus != null and param.inventoryCheckStatus !=''">
            AND i.inventory_check_status = #{param.inventoryCheckStatus}
        </if>
        <if test="param.inventoryCheckOperatorId != null">
            AND i.inventory_check_operator_id = #{param.inventoryCheckOperatorId}
        </if>
        <if test="param.inventoryCheckDateCategory == 1">
            <if test="param.inventoryCheckBeginTime != '' and param.inventoryCheckEndTime != ''">
                AND i.inventory_check_create_time BETWEEN #{param.inventoryCheckBeginTime} AND #{param.inventoryCheckEndTime}
            </if>
            ORDER BY i.inventory_check_create_time DESC
        </if>
        <if test="param.inventoryCheckDateCategory == 2">
            <if test="param.inventoryCheckBeginTime != '' and param.inventoryCheckEndTime != ''">
                AND i.inventory_check_time BETWEEN #{param.inventoryCheckBeginTime} AND #{param.inventoryCheckEndTime}
            </if>
            ORDER BY i.inventory_check_time DESC
        </if>
    </select>

    <select id="getInventoryCheckInfo" resultType="cdu.jhb.domain.inventory.InventoryCheckInfo">
        SELECT
            i.inventory_check_id,
            i.inventory_check_status,
            i.inventory_check_time,
            i.inventory_check_create_time,
            e.employee_name AS inventory_check_operator,
            i.inventory_check_variety,
            i.inventory_check_remarks
        FROM inventory_check_table i
        LEFT JOIN employee_table e ON i.inventory_check_operator_id = e.employee_id
        WHERE
            i.inventory_check_tenant_id = #{tenantId} AND i.inventory_check_id = #{id}
    </select>

</mapper>
