<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{common/common::cjbar}"/>
    <title>管理-诊所管理</title>
</head>
<body style="background-color: rgb(225,228,232);">
<div th:replace="~{common/common::headbar}"/>
<div class="manage" id="manageClinic">
    <div class="left">
        <div th:replace="~{common/common::manageMeau}"/>
    </div>
    <div class="right">
        <div class="top">
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" style="color:#83adf8;" class="bi bi-hospital-fill svg-text" viewBox="0 0 16 16">
                    <path d="M6 0a1 1 0 0 0-1 1v1a1 1 0 0 0-1 1v4H1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h6v-2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5V16h6a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1h-3V3a1 1 0 0 0-1-1V1a1 1 0 0 0-1-1H6Zm2.5 5.034v1.1l.953-.55.5.867L9 7l.953.55-.5.866-.953-.55v1.1h-1v-1.1l-.953.55-.5-.866L7 7l-.953-.55.5-.866.953.55v-1.1h1ZM2.25 9h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5A.25.25 0 0 1 2 9.75v-.5A.25.25 0 0 1 2.25 9Zm0 2h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5a.25.25 0 0 1 .25-.25ZM2 13.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5ZM13.25 9h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5a.25.25 0 0 1 .25-.25ZM13 11.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5Zm.25 1.75h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-.5a.25.25 0 0 1 .25-.25Z"/>
                </svg>
                诊所管理
            </p>
        </div>
        <div class="info">
            <div class="title">
                <p>诊所信息</p>
                <div style="float: right;">
                    <button type="button" class="btn btn-primary" v-on:click="save">保存</button>
                </div>
            </div>
            <div class="input">
                <div class="text">
                    诊所编码
                </div>
                <div class="form-group" style="float: left;width: 400px;margin-right: 50px;">
                    <input type="text" class="form-control" v-model="tenantInfo.tenantId" name="" placeholder="请输入诊所编码" readonly>
                </div>
                <div class="text">
                    <span style="color: red;">* </span>诊所名称
                </div>
                <div class="form-group" style="float: left;width: 400px;">
                    <input type="text" class="form-control" v-model="tenantInfo.tenantName" name="" placeholder="请输入诊所名称">
                </div>
            </div>
            <div class="input">
                <div class="text">
                    内部简称
                </div>
                <div class="form-group" style="float: left;width: 400px;margin-right: 50px;">
                    <input type="text" class="form-control" v-model="tenantInfo.tenantAbbreviation" name="" placeholder="请输入内部简称">
                </div>
                <div class="text">
                    联系电话
                </div>
                <div class="form-group" style="float: left;width: 400px;">
                    <input type="text" class="form-control" v-model="tenantInfo.tenantTel" name="" placeholder="请输入联系电话">
                </div>
            </div>
            <div class="input">
                <div class="text">
                    营业面积(平方米)
                </div>
                <div class="form-group" style="float: left;width: 400px;margin-right: 50px;">
                    <input type="text" class="form-control" v-model="tenantInfo.tenantSize" name="" placeholder="请输入营业面积">
                </div>
                <div class="text">
                    诊所地址
                </div>
                <div class="form-group" style="float: left;width: 400px;">
                    <input type="text" class="form-control" v-model="tenantInfo.tenantAddress" name="" placeholder="请输入诊所地址">
                </div>
            </div>
            <div class="input">
                <div class="text">
                    诊所开设时间
                </div>
                <div class="form-group" style="float: left;width: 400px;margin-right: 50px;">
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" v-model="tenantInfo.tenantBeginTime" id="test1" placeholder="请输入诊所开设时间" style="border: 1px rgb(206,212,218) solid" readonly>
                        </div>
                    </div>
                </div>
                <div class="text">
                    诊所评级
                </div>
                <div id="test2"></div>
            </div>
            <div class="input">
                <div class="text">
                    诊所介绍
                </div>
                <div style="float: left;width: 1030px;">
                    <textarea class="form-control" v-model="tenantInfo.tenantIntroduce" style="resize:none;" rows="5" placeholder="请输入诊所介绍"></textarea>
                </div>
            </div>
        </div>
        <hr>
        <div class="info">
            <div class="title">
                <p>医保资质</p>
            </div>
            <div class="input">
                <div class="text">
                    <span style="color:red;">* </span>法定代表人姓名
                </div>
                <div class="form-group" style="float: left;width: 400px;margin-right: 50px;">
                    <input type="text" v-model="tenantInfo.tenantLegalName" class="form-control" placeholder="请输入法定代表人姓名">
                </div>
                <div class="text">
                    <span style="color:red;">* </span>法定代表人身份证号
                </div>
                <div class="form-group" style="float: left;width: 400px;margin-right: 50px;">
                    <input type="text" v-model="tenantInfo.tenantLegalNumber" class="form-control" name="" placeholder="请输入法定代表人身份证号">
                </div>
            </div>
            <div class="input">
                <div class="text">
                    执业许可证号
                </div>
                <div class="form-group" style="float: left;width: 400px;margin-right: 50px;">
                    <input type="text" v-model="tenantInfo.tenantLicenseKey" class="form-control" name="" placeholder="请输入执业许可证号">
                </div>
                <div class="text">
                    <span style="color:red;">* </span>统一社会信用代码
                </div>
                <div class="form-group" style="float: left;width: 400px;margin-right: 50px;">
                    <input type="text" v-model="tenantInfo.tenantCreditCode" class="form-control" name="" placeholder="请输入统一社会信用代码">
                </div>
            </div>
            <div class="input">
                <div class="text">
                    机构国家编码
                </div>
                <div class="form-group" style="float: left;width: 400px;margin-right: 50px;">
                    <input type="text" v-model="tenantInfo.tenantCountryCode" class="form-control" placeholder="H51010414" readonly>
                </div>
                <div class="text">
                    备注
                </div>
                <div class="form-group" style="float: left;width: 400px;margin-right: 50px;">
                    <input type="text" v-model="tenantInfo.tenantRemarks" class="form-control" name="" placeholder="请输入备注">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let vm = new Vue({
        el: "#manageClinic",
        data: {
           tenantInfo:{
               tenantId: '',
               tenantName: '',
               tenantAbbreviation: '',
               tenantTel: '',
               tenantSize: '',
               tenantAddress: '',
               tenantBeginTime: '',
               tenantIntroduce: '',
               tenantRate: '',
               tenantLegalName: '',
               tenantLegalNumber: '',
               tenantLicenseKey: '',
               tenantCreditCode: '',
               tenantCountryCode: '',
               tenantRemarks: '',
           }
        },
        methods: {
            // 保存诊所信息
            save(){
                if(this.tenantInfo.tenantName === ''){
                    layer.msg('诊所名称不能为空');
                    return;
                }
                if(this.tenantInfo.tenantLegalName === ''){
                    layer.msg('法定代表人姓名不能为空');
                    return;
                }
                if(this.tenantInfo.tenantLegalNumber === ''){
                    layer.msg('法定代表人身份证号不能为空');
                    return;
                }
                if(this.tenantInfo.tenantCreditCode === ''){
                    layer.msg('统一社会信用代码不能为空');
                    return;
                }
                $.ajax({
                    url: '/tenant/saveTenant',
                    type: 'POST',
                    data: JSON.stringify(this.tenantInfo),
                    contentType: 'application/json',
                    success: function (response) {
                        layer.msg('保存成功');
                    },
                    error: function () {
                        layer.msg('保存失败');
                    }
                });
            },
            // 获取诊所信息
            refresh(){
                let that = this;
                $.ajax({
                    url: '/tenant/getTenantInfo',
                    type: 'GET',
                    success: function (response) {
                        that.tenantInfo = response;
                        // 渲染诊所等级
                        layui.use(['rate'], function() {
                            var rate = layui.rate;
                            rate.render({
                                elem: '#test2',
                                value: that.tenantInfo.tenantRate,
                                half: true,
                                readonly: true,
                            });
                        });
                        layui.use('laydate', function(){
                            var laydate = layui.laydate;
                            //初始赋值
                            laydate.render({
                                elem: '#test1'
                                ,value: ''
                                ,isInitValue: true
                                ,done: function (value) {
                                    that.tenantInfo.tenantBeginTime = value
                                }
                            });
                        });
                    },
                    error: function () {
                        layer.msg('获取诊所信息失败，请刷新重试');
                    }
                });
            }
        },
        computed: {

        },
        mounted(){
            this.refresh();
        },
    });
</script>
</body>
</html>

