<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{common/common::cjbar}"/>
    <title>管理-设备管理</title>
</head>
<body style="background-color: rgb(225,228,232);">
<div th:replace="~{common/common::headbar}"/>
<div class="manage">
    <div class="left">
        <div th:replace="~{common/common::manageMeau}"/>
    </div>
    <div class="right">
        <div class="top">
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" style="color:#cc7832;" class="bi bi-gear-wide svg-text" viewBox="0 0 16 16">
                    <path d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 1 0-9.995 4.998 4.998 0 0 1 0 9.996z"/>
                </svg>
                设备管理
            </p>
        </div>
        <div class="info">
            <div class="info-left">
                <div class="title">
                    <div class="form-group float-left" style="width: 150px;">
                        <input type="text" class="form-control" name="" placeholder="查询设备">
                    </div>
                    <div class="add" id="addEquipment">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill svg-text" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                        </svg>
                        新增设备
                    </div>
                </div>
                <div class="name">
                    X射线诊断设备
                </div>
                <div class="name">
                    核磁共振仪
                </div>
                <div class="name">
                    B超诊断设备
                </div>
            </div>
            <div class="info-right">
                <div class="title">
                    <p>新增设备</p>
                    <div style="float: right;margin-left: 10px;">
                        <button type="button" class="btn btn-primary">保存</button>
                    </div>
                    <div style="float: right;">
                        <button type="button" class="btn btn-outline-primary">删除</button>
                    </div>
                </div>
                <div class="input">
                    <div class="text">
                        <span style="color: red;">* </span>设备HIS码
                    </div>
                    <div class="form-group" style="float: left;width: 350px;margin-right: 50px;">
                        <input type="text" class="form-control" name="" placeholder="请输入设备HIS码">
                    </div>
                    <div class="text">
                        <span style="color: red;">* </span>所属科室
                    </div>
                    <div class="form-group" style="float: left;width: 350px;">
                        <select class="form-control" name="">
                            <option value="0" style="display: none">请选择所属科室</option>
                            <option value="1">消化内科</option>
                            <option value="2">骨科</option>
                            <option value="3">肿瘤科</option>
                            <option value="4">呼吸内科</option>
                        </select>
                    </div>
                </div>
                <div class="input">
                    <div class="text">
                        <span style="color: red;">* </span>医疗设备名称
                    </div>
                    <div class="form-group" style="float: left;width: 350px;margin-right: 50px;">
                        <input type="text" class="form-control" name="" placeholder="请输入医疗设备名称">
                    </div>
                    <div class="text">
                        <span style="color: red;">* </span>品牌
                    </div>
                    <div class="form-group" style="float: left;width: 350px;">
                        <input type="text" class="form-control" name="" placeholder="请输入品牌">
                    </div>
                </div>
                <div class="input">
                    <div class="text">
                        <span style="color: red;">* </span>型号
                    </div>
                    <div class="form-group" style="float: left;width: 350px;margin-right: 50px;">
                        <input type="text" class="form-control" name="" placeholder="请输入型号">
                    </div>
                    <div class="text">
                        <span style="color: red;">* </span>产地
                    </div>
                    <div class="form-group" style="float: left;width: 350px;">
                        <input type="text" class="form-control" name="" placeholder="请输入产地">
                    </div>
                </div>
                <div class="input">
                    <div class="text">
                        <span style="color: red;">* </span>购买日期
                    </div>
                    <div style="float: left;width: 350px;margin-right: 50px;">
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" name="patient_birthday" id="test1" placeholder="请输入购买日期" style="border: 1px rgb(206,212,218) solid" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="text">
                        <span style="color: red;">* </span>使用年限
                    </div>
                    <div class="form-group" style="float: left;width: 350px;margin-right: 50px;">
                        <input type="text" class="form-control" name="" placeholder="请输入使用年限">
                    </div>
                </div>
                <div class="input">
                    <div class="text">
                        <span style="color: red;">* </span>产品介绍
                    </div>
                    <div style="float: left;width: 900px;">
                        <textarea class="form-control" style="resize:none;" rows="3" placeholder="请输入产品介绍，最多不超过200字"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //初始赋值
        laydate.render({
            elem: '#test1'
            ,value: ''
            ,isInitValue: true
        });
    });
</script>
</body>
</html>

