<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{common/common::cjbar}"/>
    <title>管理-挂号费</title>
</head>
<body style="background-color: rgb(225,228,232);">
<div th:replace="~{common/common::headbar}"/>
<div class="manage" id="manageRegistration">
    <div class="left">
        <div th:replace="~{common/common::manageMeau}"/>
    </div>
    <div class="right">
        <div class="top">
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" style="color:#6bc1e4;" class="bi bi-capsule svg-text" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.828 8.9 8.9 1.827a4 4 0 1 1 5.657 5.657l-7.07 7.071A4 4 0 1 1 1.827 8.9Zm9.128.771 2.893-2.893a3 3 0 1 0-4.243-4.242L6.713 5.429l4.243 4.242Z"/>
                </svg>
                挂号费
            </p>
        </div>
        <div class="info">
            <div class="info-top">
                <p class="float-left" v-if="!status" style="margin-right: 30px;margin-top: 5px;">统一初诊费:{{charge.diagnosticChargeFirst}}元 统一复诊费:{{charge.diagnosticChargeRepeat}}元</p>
                <p class="float-left" v-if="status"  style="margin-right: 30px;margin-top: 5px;">
                    统一初诊费:<input type="number" style="width: 50px;" v-model="charge.diagnosticChargeFirst">元
                    统一复诊费:<input type="number" style="width: 50px;" v-model="charge.diagnosticChargeRepeat">元
                </p>
                <div style="float: right;margin-left: 10px;">
                    <button type="button" class="btn btn-primary" v-if="status" v-on:click="save">保存</button>
                </div>
                <div class="float-right">
                    <button type="button" class="btn btn-outline-primary" v-if="!status" v-on:click="edit">编辑</button>
                </div>
                <div class="float-right">
                    <button type="button" class="btn btn-outline-primary" v-if="status" v-on:click="edit">返回</button>
                </div>
            </div>
            <div class="info-info">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col" width="40%">医生姓名</th>
                        <th scope="col" width="30%">初诊费(元)</th>
                        <th scope="col" width="30%">复诊费(元)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="!status" v-for="diagnosticCharge in diagnosticChargeList">
                        <td>{{diagnosticCharge.diagnosticChargeEmployeeName}}</td>
                        <td>{{diagnosticCharge.diagnosticChargeFirst}}</td>
                        <td>{{diagnosticCharge.diagnosticChargeRepeat}}</td>
                    </tr>
                    <tr v-if="status" v-for="diagnosticCharge in diagnosticChargeList">
                        <td>{{diagnosticCharge.diagnosticChargeEmployeeName}}</td>
                        <td><input type="number" style="width: 50px" v-model="diagnosticCharge.diagnosticChargeFirst"></td>
                        <td><input type="number" style="width: 50px" v-model="diagnosticCharge.diagnosticChargeRepeat"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="info-bottom">
                <p class="float-right">共{{diagnosticChargeList.length}}条数据</p>
            </div>
        </div>
    </div>
</div>

<script>
    let vm = new Vue({
        el: '#manageRegistration',
        data: {
            diagnosticChargeList:[{
                diagnosticChargeId: '',
                diagnosticChargeEmployeeId: '',
                diagnosticChargeEmployeeName: '',
                diagnosticChargeStatus: 1,
                diagnosticChargeFirst: '',
                diagnosticChargeRepeat: '',
                diagnosticChargeTenantId: '',
            }],
            charge:{
                diagnosticChargeId: '',
                diagnosticChargeEmployeeId: '',
                diagnosticChargeStatus: 0,
                diagnosticChargeFirst: '',
                diagnosticChargeRepeat: '',
                diagnosticChargeTenantId: '',
            },
            status: false,
        },
        methods: {
            edit(){
                this.status = true;
            },
            save(){
                this.diagnosticChargeList.push(this.charge);
                let that = this;
                $.ajax({
                    url: '/manage/saveDiagnosticCharge',
                    type: 'POST',
                    data: JSON.stringify(this.diagnosticChargeList),
                    contentType: 'application/json',
                    success: function () {
                        that.getDiagnosticChargeList();
                        layer.msg('保存成功');
                    },
                    error: function () {
                        layer.msg('保存失败');
                    }
                });
            },
            getDiagnosticChargeList(){
                let that = this;
                $.ajax({
                    url: '/manage/getDiagnosticChargeList',
                    type: 'GET',
                    success: function (response) {
                        that.diagnosticChargeList.splice(0,that.diagnosticChargeList.length);
                        response.forEach(item =>{
                            if(item.diagnosticChargeStatus === 0){
                                that.charge = item;
                            }else{
                                that.diagnosticChargeList.push(item);
                            }
                        });
                        that.status = false;
                    },
                    error: function () {
                        layer.msg('获取挂号费列表失败');
                    }
                });
            },
        },
        computed: {

        },
        mounted(){
            this.getDiagnosticChargeList();
        },
    });
</script>
</body>
</html>

